<!--best pros-->
                    <div class="side">
                        <div class="side-title">
                            <p>折扣商品</p>
                        </div>
                        <div class="side-content">
                            <div class="side-item">
                                <a href="product.html">
                                    <img class="lazy" src="{{ asset('img/default.png') }}" data-original="{{ asset('img/aptami.jpg') }}" alt="">
                                    <span class="pro-text">
                                        <span class="pro-title">【爱他美奶粉】爱他美金装一段奶粉 宝宝最佳选择 新西兰<br></span>
                                        <span class="price">$79.00</span>
                                        <del>$89.00</del>
                                    </span>
                                </a>
                            </div>
                            <div class="side-item">
                                <a href="product.html">
                                    <img class="lazy" src="{{ asset('img/default.png') }}" data-original="{{ asset('img/aptami.jpg') }}" alt="">
                                    <span class="pro-text"><span class="pro-title">【爱他美奶粉】爱他美金装一段奶粉 宝宝最佳选择 新西兰<br></span><span class="price">$79.00</span><del>$89.00</del></span>
                                </a>
                            </div>
                            <div class="side-item">
                                <a href="product.html">
                                    <img class="lazy" src="{{ asset('img/default.png') }}" data-original="{{ asset('img/aptami.jpg') }}" alt="">
                                    <span class="pro-text"><span class="pro-title">【爱他美奶粉】爱他美金装一段奶粉 宝宝最佳选择 新西兰<br></span><span class="price">$79.00</span><del>$89.00</del></span>
                                </a>
                            </div>
                        </div>
                    </div> 