{% trans_default_domain 'FOSUserBundle' %}

<div class="col-xs-6 user-info" style="background-color: lightgray">
        <div class="user-info-each">
            

        </div>
        <div class="user-info-each">
            
            <div>
                
            </div>
        </div>  
 </div>
 <div class="col-xs-6 user-info" style="background-color: lightgray">
    <div class="status-each">
        <h2>{{ user.userOrders|length }}</h2>
        <div><a href="{{path('user_order')}}">(查看所有订单)</a></div>
    </div>
    <div class="status-each">
        <h2>${{user.userInfo.balance}}</h2>
        <div><a href="{{path('user_topup')}}">账户余额 (<span class="color">充值</span>)</a></div>
    </div>
    <div class="status-each">
        <h2>{{user.userInfo.points}}</h2>
        <div><a href="{{path('user_topup')}}">我的积分</a></div>
    </div>   
</div>

<div class="panel panel-info" style="border-color: #95B56F">
        <div class="panel-heading" tyle="background:silver">

        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-lg-3" align="center">
                    <i class="fa fa-user fa-5x" aria-hidden="true"></i>
                    <br>
                    <span class="edit-name">{{ user.username }} </span>
                </div>
                <div class=" col-md-9 col-lg-9 "> 
                    <table class="table table-user-information">
                        <tbody>
                          <tr>
                            <td><label>{{ 'profile.show.email'|trans }}:</label></td>
                            <td><span class="edit-email"> {{ user.email }}</span></td>
                          </tr>
                          <tr>
                            <td><label>用户姓名:</label></td>
                            <td>{{ user.userInfo.fullname }}</td>
                          </tr>
                          <tr>
                            <td><label>出生日期:</label></td>
                            <td>{{ user.userInfo.birthday }}</td>
                          </tr>
                            <tr>
                                <tr>
                                    <td><label>微信号码:</label></td>
                                    <td>{{ user.userInfo.wechatNo }}</td>
                                </tr>
                                <tr>
                                    <td><label>QQ号码:</label></td>
                                    <td>{{ user.userInfo.qqNo }}</td>
                                </tr>
                                <tr>
                                    <td><label>联系电话:</label></td>
                                    <td> {{ user.userInfo.contactNo }} </td>
                                </tr>
                                <td><label>居住地址</label></td>
                                <td>
                                    {{ user.userInfo.contactNo }}<br><br>{{ user.userInfo.city }}&nbsp;&nbsp;{{ user.userInfo.region }}&nbsp;&nbsp;{{ user.userInfo.country }}
                                </td> 
                            </tr>
                        </tbody>
                    </table> 
                    <a href="{{path('user_profile_edit')}}" class="btn btn-primary"><i class="fa fa-edit"></i>&nbsp;&nbsp;编辑个人资料</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{path('user_topup')}}" class="btn btn-primary"><i class="fa fa-battery-half" aria-hidden="true"></i>&nbsp;&nbsp;购物点数充值</a>
                </div>
            </div>
        </div>
        <div class="panel-footer">

        </div>  
    </div>