{% trans_default_domain 'FOSUserBundle' %}

<div class="col-xs-6 user-info">
        <div class="user-info-each">
            <label>{{ 'profile.show.username'|trans }}:</label>
            <div>
                <span class="edit-name">{{ user.username }}</span>
                <a href="{{path('user_profile_edit')}}" class="fa fa-edit pull-right">{{ 'button.edit'|trans }}</a> 
            </div>
        </div>
        <div class="user-info-each">
            <label>{{ 'profile.show.email'|trans }}:</label>
            <div>
                <span class="edit-email"> {{ user.email }}</span>
            </div>
        </div>  
 </div>
 <div class="col-xs-6 user-info">
    <div class="status-each">
        <h2>{{ user.userOrders|length }}</h2>
        <div><a href="{{path('user_order')}}">(查看所有订单)</a></div>
    </div>
    <div class="status-each">
        <h2>${{user.userInfo.balance}}</h2>
        <div><a href="{{path('user_topup')}}">账户余额 (<span class="color">充值</span>)</a></div>

    </div>
    <div class="status-each">
        <h2>{{user.userInfo.points}}</h2>
        <div><a href="{{path('user_topup')}}">我的积分</a></div>
    </div>


<div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Sheena Kristin A.Eschor</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="none" class="img-circle img-responsive"> </div>
                
                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Department:</td>
                        <td>Programming</td>
                      </tr>
                      <tr>
                        <td>Hire date:</td>
                        <td>06/23/2013</td>
                      </tr>
                      <tr>
                        <td>Date of Birth</td>
                        <td>01/24/1988</td>
                      </tr>
                   
                         <tr>
                             <tr>
                        <td>Gender</td>
                        <td>Male</td>
                      </tr>
                        <tr>
                        <td>Home Address</td>
                        <td>Metro Manila,Philippines</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:info@support.com">info@support.com</a></td>
                      </tr>
                        <td>Phone Number</td>
                        <td>123-4567-890(Landline)<br><br>555-4567-890(Mobile)
                        </td>
                           
                      </tr>
                     
                    </tbody>
                  </table>
                  
                  <a href="#" class="btn btn-primary">My Sales Performance</a>
                  <a href="#" class="btn btn-primary">Team Sales Performance</a>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                </div>
            
          </div>

    
</div>

