{% extends 'layout_main.html.twig' %}

{% block stylesheets %}  
<link rel="stylesheet" href="{{ asset('css/contact.css') }}" type="text/css">
<style>
    #map {
        width: 380px;
        height: 587px;
        background-color: #CCC;
    }
</style>
</style>
<link rel="stylesheet" href="{{ asset('css/style.css') }}">
<link rel='stylesheet prefetch' href="{{ asset('js/img_popup/magnific-popup.css') }}">
<link rel="stylesheet" href="{{ asset('js/img_popup/img_popup_style.css') }}">
{% endblock %}

{% block body %}
<script src="{{ asset('js/analyticstracking.js') }}"></script>

        <div class="row no-border" id="contact-page">
            <div class="col-xs-3 siderbar">
                {{ render(controller('AppBundle:Widget/Menu:index')) }}
                {{ render(controller('AppBundle:Widget/Default:brandList')) }}
                {{ render(controller('AppBundle:Widget/Default:postFee')) }} 
            </div>
            <div class="col-xs-9 page-right" >
                <div class="page-content">
                    <div class="contact-part">
                        <table width="100%">
                            <tr width="100%">
                                <td width="30%"><h3><b>关于我们</b></h3>
                                <td width="70%" align="right">
                                    <img src="img/aboutus.jpg" height="100px">
                                </td>     
                            </tr>
                        </table>
                        <!-- <div align="right">
                            <a href="img/silver.png" class="with-caption image-link" title="a New Zealand vintage silver coin" style="cursor: -webkit-zoom-in; cursor: -moz-zoom-in;"><img src="img/silver.png" width="25" height="25" /></a>
                        </div> -->
                    </div>
                    <div class="contact-part">
                    "PLENTY BAY ECOMMERCE LTD" 位于奥克兰，且在新西兰商务部合法注册并运营的公司，是 "<b>丰盛湾集团</b>" 旗下专注于提供一站式服务的电子商务平台。
                    致力于把纽澳地区优质的乳制品、护肤品、保健品快捷方便的销售给新西兰、澳洲与中国的消费者。我们的工作是为您提供最经济实惠的价格，绝无虚假的产品品质，充足的品牌选择。
                    我们所销售的产品与运输过程都符合西兰<a href="https://www.mpi.govt.nz/">第一产业部(MPI)</a>所制定的严格标准并接受定期检测。
                    </div>
                    <br><br>
                    <div class="contact-part">
                        <table>
                            <tr>
                                <td> 
                                    <a href="img/cert_of_incorporation.png" class="with-caption image-link" title="Certificate of Incorporation" style="cursor: -webkit-zoom-in; cursor: -moz-zoom-in;">
                                        <img src="img/cert_of_incorporation.png" width="380" height="587" />  
                                    </a>
                                    <script src="{{ asset('js/jquery.min.js') }}"></script>
                                    <script src="{{ asset('js/img_popup/jquery.magnific-popup.min.js') }}"></script>
                                    <script src="{{ asset('js/img_popup/img_popup_index.js') }}"></script>
                                </td>
                                <td>&nbsp; &nbsp;</td>
                                <td>
                                    <div id="map"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <script>
                        function initMap() {
                            var mapDiv = document.getElementById('map');
                            var myGPS = {lat: -36.7404609, lng: 174.7281301};
                            var map = new google.maps.Map(mapDiv, {center: myGPS, zoom: 15 });
                            var url = "https://www.google.co.nz/maps/place/4%2F9+Orbit+Dr,+Rosedale,+Auckland+0632/@-36.7404609,174.7281301,17z/";
                            var marker = new google.maps.Marker({
                                position: myGPS, 
                                url:url, 
                                map: map, 
                                title: 'Unit 4, 9 Orbit Drive',
                                animation: google.maps.Animation.DROP,
                            });
                            google.maps.event.addListener(marker, 'dblclick', function() {window.open(marker.url);});
                        }
                    </script>
                    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
                    <br>
                    <br>
                    <br>        
                </div>  
            </div>  
        </div>
{% endblock %}