{% extends 'layout_main.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/contact.css') }}" type="text/css">
{% endblock %}

{% block body %}
<div class="row no-border" id="contact-page">
    <div class="col-xs-3 siderbar">
        {{ render(controller('AppBundle:Widget/Menu:index')) }}
        {{ render(controller('AppBundle:Widget/Default:brandList')) }}
        {{ render(controller('AppBundle:Widget/Default:discountPro')) }}
        {{ render(controller('AppBundle:Widget/Default:bestPro')) }}
        {{ render(controller('AppBundle:Widget/Default:postFee')) }} 
    </div>
    <div class="col-xs-9 page-right">
       
        
        <div class="page-breadcrumb">
            <ol>
                <li><a href="{{ path('homepage')}}"><i class="fa fa-home"></i></a></li>
                <li>&nbsp;>&nbsp;联系我们</li>
            </ol>
        </div>
        <div class="page-content">
            <div class="page-title">
                <div class="page-leaf-top"></div>
                <div class="page-leaf"><img src="{{ asset('img/leaf.png') }}" alt=""></div>
                <div><h4>联系我们</h4></div>
                    
            </div>
            <div class="contact-part">						
                     丰盛湾是一家专注纽澳特产品，护肤品，保健品为一体的大型连锁专营店。<br>
                        我们代理的都是新西兰澳洲药房所认可的大品牌，绝对一手货源，百分百保真。产品种类繁多，有上千种网络热销产品，代购追捧单品，经济实惠，价格合理 <br><br>
                <div class="contact-info">
                    <div><i class="fa fa-phone"></i>电话: </div>
                    <div><i class="fa fa-home"></i>地址: Unit4, 9 Orbit Dr, Rosedale, Auckland 0632</div>
                </div>
            </div>
            <hr>
             <div class="page-sub-title">给我们留言</div>
            <div class="contact-part">
                    <div class="form">
                        <div>
                            <label>名字：</label>
                            <input type="text">
                        </div>
                        <div>
                            <label>邮件：</label>
                            <input type="text">
                        </div>
                        <div>										
                            <label>电话：</label>
                            <input type="text">
                        </div>
                        <div>
                            <label>内容：</label>
                            <textarea></textarea>
                        </div>
                    </div>
                    <input type="submit" value="提交" class="pull-right" />
            </div>
                <div class="page-sub-title">找到我们</div>
            <div class="contact-part">
                <div id="location-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10754.06955014146!2d174.72324756017866!3d-36.74167084974075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d3bcd5d971c9f%3A0x35f79df3beba01cc!2s9+Orbit+Dr%2C+Rosedale%2C+Auckland+0632!5e0!3m2!1sen!2snz!4v1454839173531" width="785" height="360" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            </div>
        </div>	
    </div>
</div>

{% endblock %}