{% extends 'layout_main.html.twig' %}

{% block stylesheets %}  
<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 14">
<link rel=File-List href="refundpolicy.files/filelist.xml">
<link rel="stylesheet" href="{{ asset('css/contact.css') }}" type="text/css">
<link rel="stylesheet" href="{{ asset('css/refundpolicy.css') }}" type="text/css">
<link rel="stylesheet" href="{{ asset('css/style.css') }}">
<link rel='stylesheet prefetch' href="{{ asset('js/img_popup/magnific-popup.css') }}">
<link rel="stylesheet" href="{{ asset('js/img_popup/img_popup_style.css') }}">
{% endblock %}

{% block body %}
<script src="{{ asset('js/analyticstracking.js') }}"></script>

<div class="container-non-responsive">
        <div class="row no-border" id="contact-page">
            <div class="col-xs-3 siderbar">
                {{ render(controller('AppBundle:Widget/Menu:index')) }}
                {{ render(controller('AppBundle:Widget/Default:brandList')) }}
                {{ render(controller('AppBundle:Widget/Default:postFee')) }} 
            </div>
            <div class="col-xs-9 page-right" >
                <div class="page-content">
                    <div class="contact-title">
                      <img src="{{ asset('/img/refund_policy_title.png') }}" width="100%">
                    </div>
                    <div class="contact-part">
                    <br>
                      <div id="refundpolicy_3612" align=center x:publishsource="Excel">

                      <table border=0 cellpadding=0 cellspacing=0 width=611 style='border-collapse:
                       collapse;table-layout:fixed;width:459pt'>
                       <col width=130 style='mso-width-source:userset;mso-width-alt:4754;width:98pt'>
                       <col width=331 style='mso-width-source:userset;mso-width-alt:12105;width:248pt'>
                       <col width=150 style='mso-width-source:userset;mso-width-alt:5485;width:113pt'>
                       <tr height=21 style='height:15.75pt'>
                        <td height=21 class=xl763612 width=130 style='height:15.75pt;width:98pt'>售后类型</td>
                        <td class=xl773612 width=331 style='border-left:none;width:248pt'>说明</td>
                        <td class=xl783612 width=150 style='border-left:none;width:113pt'>赔付标准</td>
                       </tr>
                       <tr height=44 style='mso-height-source:userset;height:33.0pt'>
                        <td height=44 class=xl743612 style='height:33.0pt'>产品质量问题</td>
                        <td class=xl913612 style='border-left:none'>在我们联系厂家确认后，根据厂家反馈进行赔付</td>
                        <td class=xl753612 width=150 style='border-left:none;width:113pt'>如全赔，请将问题产品到付寄回国内服务处</td>
                       </tr>
                       <tr height=20 style='height:15.0pt'>
                        <td height=20 class=xl653612 style='height:15.0pt;border-top:none'>奶粉爆罐</td>
                        <td class=xl663612 style='border-top:none;border-left:none'>请退回到国内服务处</td>
                        <td class=xl683612 style='border-top:none;border-left:none'>全额陪</td>
                       </tr>
                       <tr height=20 style='height:15.0pt'>
                        <td height=20 class=xl653612 style='height:15.0pt;border-top:none'>玻璃等易碎产品</td>
                        <td class=xl663612 style='border-top:none;border-left:none'>损坏，无法使用</td>
                        <td class=xl683612 style='border-top:none;border-left:none'>全额陪</td>
                       </tr>
                       <tr height=20 style='height:15.0pt'>
                        <td height=20 class=xl653612 style='height:15.0pt;border-top:none'>液体洒漏</td>
                        <td class=xl663612 style='border-top:none;border-left:none'>如，饮品，洗发水，乳液，精油等</td>
                        <td class=xl683612 style='border-top:none;border-left:none'>按实际情况赔付</td>
                       </tr>
                       <tr height=20 style='height:15.0pt'>
                        <td height=20 class=xl653612 style='height:15.0pt;border-top:none'>外包装破损</td>
                        <td class=xl663612 style='border-top:none;border-left:none'>&nbsp;</td>
                        <td class=xl683612 style='border-top:none;border-left:none'>不属于赔付范围</td>
                       </tr>
                       <tr height=20 style='height:15.0pt'>
                        <td height=20 class=xl653612 style='height:15.0pt;border-top:none'>不喜欢，买错了</td>
                        <td class=xl663612 style='border-top:none;border-left:none'>&nbsp;</td>
                        <td class=xl683612 style='border-top:none;border-left:none'>不属于赔付范围</td>
                       </tr>
                       <tr height=20 style='height:15.0pt'>
                        <td height=20 class=xl653612 style='height:15.0pt;border-top:none'>人为损坏</td>
                        <td class=xl663612 style='border-top:none;border-left:none'>&nbsp;</td>
                        <td class=xl683612 style='border-top:none;border-left:none'>不属于赔付范围</td>
                       </tr>
                       <tr height=40 style='height:30.0pt'>
                        <td height=40 class=xl653612 style='height:30.0pt;border-top:none'>产品漏发</td>
                        <td class=xl663612 style='border-top:none;border-left:none'>&nbsp;</td>
                        <td class=xl673612 width=150 style='border-top:none;border-left:none;
                        width:113pt'>可以选择退款，或在有货情况下选择补发</td>
                       </tr>
                       <tr height=20 style='height:15.0pt'>
                        <td height=20 class=xl653612 style='height:15.0pt;border-top:none'>不可抗力因素</td>
                        <td class=xl663612 style='border-top:none;border-left:none'>如冬季低温，夏季高温，暴风，地震等</td>
                        <td class=xl683612 style='border-top:none;border-left:none'>不属于赔付范围</td>
                       </tr>
                       <tr height=61 style='mso-height-source:userset;height:45.75pt'>
                        <td height=61 class=xl883612 style='height:45.75pt;border-top:none'>产品错发</td>
                        <td class=xl893612 style='border-top:none;border-left:none'>&nbsp;</td>
                        <td class=xl903612 width=150 style='border-top:none;border-left:none;
                        width:113pt'>未拆封，未使用，可退回到国内服务处若已开封或使用，我们会算好差价再商议补发或退款</td>
                       </tr>
                       <tr height=68 style='mso-height-source:userset;height:51.0pt'>
                        <td colspan=3 height=68 class=xl873612 width=611 style='height:51.0pt;
                        width:459pt'><font class="font63612">退换货流程</font><font class="font53612">：请第一时间与我们的客服联系，邮箱
                        </font><font class="font73612">support@plentybay.co.nz </font><font
                        class="font53612">并提供以下信息：</font><font class="font83612">1.订单号; 2.快递单号;
                        3.破损产品名称以及数量; 4.破损产品照片</font><font class="font53612">
                        (需要提供外箱和破损产品照片，必须可以分辨破损位置、破损情况以及批号)</font></td>
                       </tr>
                       <tr height=20 style='height:15.0pt'>
                        <td height=20 class=xl153612 style='height:15.0pt'></td>
                        <td class=xl153612></td>
                        <td class=xl153612></td>
                       </tr>
                       <tr height=21 style='height:15.75pt'>
                        <td height=21 class=xl763612 style='height:15.75pt'>Categroy</td>
                        <td class=xl773612 style='border-left:none'>Details</td>
                        <td class=xl783612 style='border-left:none'>Refund Standard</td>
                       </tr>
                       <tr height=62 style='mso-height-source:userset;height:46.5pt'>
                        <td height=62 class=xl743612 style='height:46.5pt'>Quality problem</td>
                        <td class=xl793612 width=331 style='border-left:none;width:248pt'>Once we
                        contact the manufacturer to confirm, according to the manufacturer feedback
                        to refund</td>
                        <td class=xl803612 width=150 style='border-left:none;width:113pt'>Fully
                        refundable (after return good to our customer care centre)</td>
                       </tr>
                       <tr height=20 style='height:15.0pt'>
                        <td height=20 class=xl693612 style='height:15.0pt;border-top:none'>Milk tank
                        explosion</td>
                        <td class=xl723612 style='border-top:none;border-left:none'>Please return to
                        the domestic Service</td>
                        <td class=xl733612 style='border-top:none;border-left:none'>Fully
                        refundable<span style='mso-spacerun:yes'> </span></td>
                       </tr>
                       <tr height=20 style='height:15.0pt'>
                        <td height=20 class=xl693612 style='height:15.0pt;border-top:none'>Fragile
                        goods</td>
                        <td class=xl723612 style='border-top:none;border-left:none'>Damaged but
                        unusable</td>
                        <td class=xl733612 style='border-top:none;border-left:none'>Fully
                        refundable<span style='mso-spacerun:yes'> </span></td>
                       </tr>
                       <tr height=60 style='height:45.0pt'>
                        <td height=60 class=xl693612 style='height:45.0pt;border-top:none'>Liquid
                        side leakage</td>
                        <td class=xl723612 style='border-top:none;border-left:none'>For example,
                        drinks, shampoo, lotion, oil, etc.</td>
                        <td class=xl713612 width=150 style='border-top:none;border-left:none;
                        width:113pt'>Refundable amount depends on the actual situation</td>
                       </tr>
                       <tr height=20 style='height:15.0pt'>
                        <td height=20 class=xl693612 style='height:15.0pt;border-top:none'>Package
                        demage</td>
                        <td class=xl723612 style='border-top:none;border-left:none'>It does not
                        affect the use of the product</td>
                        <td class=xl733612 style='border-top:none;border-left:none'>Not refundable</td>
                       </tr>
                       <tr height=20 style='height:15.0pt'>
                        <td height=20 class=xl693612 style='height:15.0pt;border-top:none'>Change of
                        mind</td>
                        <td class=xl723612 style='border-top:none;border-left:none'>&nbsp;</td>
                        <td class=xl733612 style='border-top:none;border-left:none'>Not refundable</td>
                       </tr>
                       <tr height=20 style='height:15.0pt'>
                        <td height=20 class=xl693612 style='height:15.0pt;border-top:none'>Intentional
                        damage</td>
                        <td class=xl723612 style='border-top:none;border-left:none'>&nbsp;</td>
                        <td class=xl733612 style='border-top:none;border-left:none'>Not refundable</td>
                       </tr>
                       <tr height=59 style='mso-height-source:userset;height:44.25pt'>
                        <td height=59 class=xl693612 style='height:44.25pt;border-top:none'>Unsent
                        order<span style='mso-spacerun:yes'> </span></td>
                        <td class=xl723612 style='border-top:none;border-left:none'>The paid order
                        was not sent on time.</td>
                        <td class=xl713612 width=150 style='border-top:none;border-left:none;
                        width:113pt'>You could choose from (1) refund your money; or (2) resend your
                        order.</td>
                       </tr>
                       <tr height=40 style='height:30.0pt'>
                        <td height=40 class=xl693612 style='height:30.0pt;border-top:none'>Unresistible
                        factors</td>
                        <td class=xl703612 width=331 style='border-top:none;border-left:none;
                        width:248pt'>Including extreme weather conditions, storms, earthquakes, etc.</td>
                        <td class=xl733612 style='border-top:none;border-left:none'>Not refundable</td>
                       </tr>
                       <tr height=61 style='height:45.75pt'>
                        <td height=61 class=xl843612 width=130 style='height:45.75pt;border-top:none;
                        width:98pt'>Sent to wrong person</td>
                        <td class=xl853612 style='border-top:none;border-left:none'>&nbsp;</td>
                        <td class=xl863612 width=150 style='border-top:none;border-left:none;
                        width:113pt'>Refundable amount depends on the actual situation</td>
                       </tr>
                       <tr height=62 style='mso-height-source:userset;height:46.5pt'>
                        <td colspan=3 height=62 class=xl813612 width=611 style='border-right:.5pt solid #7F7F7F;
                        height:46.5pt;width:459pt'><font class="font63612">Return Process</font><font
                        class="font53612">: please contact our customer via email: </font><font
                        class="font73612">support@plentybay.co.nz</font><font class="font53612"><span
                        style='mso-spacerun:yes'>                                     </span>
                        Provide the following information: 1. Order number; 2. package tracking
                        number; 3. the name and quantity of the damaged goods; 4. photos that contain
                        the mentioned information of the delivery.</font></td>
                       </tr>
                       <![if supportMisalignedColumns]>
                       <tr height=0 style='display:none'>
                        <td width=130 style='width:98pt'></td>
                        <td width=331 style='width:248pt'></td>
                        <td width=150 style='width:113pt'></td>
                       </tr>
                       <![endif]>
                      </table>
                        
                          <img  class="absolute_badge"  src="{{ asset('/img/return-policy.png') }}">
                        
                      </div>
                    <hr>
                    </div>
                </div>  
            </div>  
        </div>
</div>
{% endblock %}