{% for order in data %}
    <div id="{{ order.orderId }}" class="order-detail">
                            <div class="order-title">
                                <div class="order-title-each pull-left">
                                    <div class="order-title-item">
                                        <label>提交时间：</label>
                                        <h5>{{ order.createAt|date('Y-m-d') }}</h5>
                                    </div>
                                    <div class="order-title-item">
                                        <label>收件人：</label>
                                        <h5>万江<a href="{{ path('user_address')}}" class="fa fa-edit add-address"></a></h5>
                                    </div>
                                    <div class="order-title-item">
                                        <label>总价：</label>
                                        <h5>NZD:<span class="color">${{ order.totalPrice }}</span></h5>
                                    </div>
                                    <div class="order-title-item">
                                        <label>订单状态：</label>
                                        <h5>未付款<span><a href="{{ path('user_order_detail', { 'id': order.id })}}" class="color">(订单详情)</a></i></h5>
                                    </div>
                                </div>
                                    <div class="order-title-each pull-right">
                                        <div class="order-title-item">
                                         <label>订单号：{{ order.orderId }}</label>
                                         <h5>
                                            <input type="submit" value="付款"/>
                                            <span>取消订单</span>
                                        </h5>
                                    </div>
                                </div>
                        </div>
                        <div class="order-content">
                            {% for orderProduct in order.orderProducts %}
                                <div class="col-xs-6 order-product">
                                <div class="col-xs-3 img">
                                    <img class="lazy" src="{{ asset(random(['img/aptami.jpg', 'img/honey.jpg', 'img/honey2.jpg' ,'img/blackmores.jpg', 'img/artemis.jpg', 'img/manukablendhoney.jpg', 'img/milkchews.jpg', 'img/royalnectar.jpg', 'img/swisse.jpg'])) }}" data-original="{{ asset(random(['img/aptami.jpg', 'img/honey.jpg', 'img/honey2.jpg' ,'img/blackmores.jpg', 'img/artemis.jpg', 'img/manukablendhoney.jpg', 'img/milkchews.jpg', 'img/royalnectar.jpg', 'img/swisse.jpg'])) }}" alt="">
                                </div>
                                <div class="col-xs-9 order-product-name">
                                    <h5><a href="{{ path('product', { id : orderProduct.product.id }) }}">
                                        {{ orderProduct.product.name }}
                                    </a></h5>
                                    <h6>数量：{{ orderProduct.count }}</h6>                                          
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
{% endfor %}

