

                        <div id="201502938423" class="order-detail">
                            <div class="order-title">
                                <div class="order-title-each pull-left">
                                    <div class="order-title-item">
                                        <label>提交时间：</label>
                                        <h5>2015-07-04</h5>
                                    </div>
                                    <div class="order-title-item">
                                        <label>收件人：</label>
                                        <h5>万江<i class="fa fa-edit add-address"></i></h5>
                                    </div>
                                    <div class="order-title-item">
                                        <label>总价：</label>
                                        <h5>NZD:<span class="color">$27.00</span></h5>
                                    </div>
                                    <div class="order-title-item">
                                        <label>订单状态：</label>
                                        <h5>未付款<span><a href="{{ path('user_order_detail')}}" class="color">(订单详情)</a></i></h5>
                                    </div>
                                </div>
                                <div class="order-title-each pull-right">
                                    <div class="order-title-item">
                                     <label>订单号：201502938423</label>
                                     <h5>
                                        <input type="submit" value="付款"/>
                                        <span>取消订单</span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="order-content">
                            <div class="col-xs-6 order-product">
                                <div class="col-xs-3 img">
                                    <img src="{{ asset('img/honey.jpg') }}" />
                                </div>
                                <div class="col-xs-9 order-product-name">
                                    <h5><a href="product.html">
                                        【爱他美奶粉】爱他美金装一段奶粉 宝宝最佳选择 新西兰
                                    </a></h5>
                                    <h6>3段</h6>                                          
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="2013252938423" class="order-detail">
                        <div class="order-title">
                            <div class="order-title-each pull-left">
                                <div class="order-title-item">
                                    <label>提交时间：</label>
                                    <h5>2015-07-04</h5>
                                </div>
                                <div class="order-title-item">
                                    <label>收件人：</label>
                                    <h5>万江<i class="fa fa-arrow-down address-hover"></i>
                                        <div class="hover-address">
                                            <div>万江 (0215456851)</div>
                                            <div>湖北省武汉市江汉区三眼桥北路海虹景7栋二单元701, 430020</div> 
                                            <div>中国</div>  
                                        </div>
                                    </h5>
                                </div>
                                <div class="order-title-item">
                                    <label>总价：</label>
                                    <h5>NZD:<span class="color">$27.00</span></h5>
                                </div>
                                <div class="order-title-item">
                                    <label>订单状态：</label>
                                    <h5>已付款<span><a href="#tab1022" class="tab color">(订单详情)</a></i></h5>
                                </div>
                            </div>
                            <div class="order-title-each pull-right">
                                <div class="order-title-item">
                                 <label>订单号：2013252938423</label>
                                 <h5> 
                                     <input type="submit" value="发货状态"/>                              
                                     <span>等待发货</span>

                                 </h5>
                             </div>
                         </div>
                     </div>
                     <div class="order-content">
                        <div class="col-xs-6 order-product">
                            <div class="col-xs-3 img">
                                <img src="{{ asset('img/honey.jpg') }}" />
                            </div>
                            <div class="col-xs-9 order-product-name">
                                <h5><a href="product.html">
                                    【爱他美奶粉】爱他美金装一段奶粉 宝宝最佳选择 新西兰
                                </a></h5>
                                <h6>3段</h6>                                     
                            </div>

                        </div>
                        <div class="col-xs-6 order-product">
                            <div class="col-xs-3 img">
                                <img src="{{ asset('img/honey.jpg') }}" />
                            </div>
                            <div class="col-xs-9 order-product-name">
                                <h5><a href="product.html">
                                    【爱他美奶粉】爱他美金装一段奶粉 宝宝最佳选择 新西兰
                                </a></h5>
                                <h6>3段</h6>                                                              
                            </div>
                        </div>
                        <div class="col-xs-6 order-product">
                            <div class="col-xs-3 img">
                                <img src="{{ asset('img/honey.jpg') }}" />
                            </div>
                            <div class="col-xs-9 order-product-name">
                                <h5><a href="product.html">
                                    【爱他美奶粉】爱他美金装一段奶粉 宝宝最佳选择 新西兰
                                </a></h5>
                                <h6>3段</h6>                                          
                            </div>
                        </div>
                        <div class="col-xs-6 order-product">
                            <div class="col-xs-3 img">
                                <img src="{{ asset('img/honey.jpg') }}" />
                            </div>
                            <div class="col-xs-9 order-product-name">
                                <h5><a href="product.html">
                                    【爱他美奶粉】爱他美金装一段奶粉 宝宝最佳选择 新西兰
                                </a></h5>
                                <h6>3段</h6>                                          
                            </div>
                        </div>
                        <div class="col-xs-6 order-product">
                            <div class="col-xs-3 img">
                                <img src="{{ asset('img/honey.jpg') }}" />
                            </div>
                            <div class="col-xs-9 order-product-name">
                                <h5><a href="product.html">
                                    【爱他美奶粉】爱他美金装一段奶粉 宝宝最佳选择 新西兰
                                </a></h5>
                                <h6>3段</h6>                                          
                            </div>
                        </div>
                    </div>
                </div>
                <div id="20150293232" class="order-detail">
                    <div class="order-title">
                        <div class="order-title-each pull-left">
                            <div class="order-title-item">
                                <label>提交时间：</label>
                                <h5>2015-07-04</h5>
                            </div>
                            <div class="order-title-item">
                                <label>收件人：</label>
                                <h5>万江<i class="fa fa-arrow-down address-hover"></i>
                                    <div class="hover-address">
                                        <div>万江 (0215456851)</div>
                                        <div>湖北省武汉市江汉区三眼桥北路海虹景7栋二单元701, 430020</div> 
                                        <div>中国</div>  
                                    </div>
                                </h5>
                            </div>
                            <div class="order-title-item">
                                <label>总价：</label>
                                <h5>NZD:<span class="color">$27.00</span></h5>
                            </div>
                            <div class="order-title-item">
                                <label>订单状态：</label>
                                <h5>已付款<span><a href="#tab1011" class="tab color">(订单详情)</a></span></h5>
                            </div>
                        </div>
                        <div class="order-title-each pull-right">
                            <div class="order-title-item">
                             <label>订单号：20150293232</label>
                             <h5>                               
                                <input type="submit" value="确认收货"/>
                                <span>已发货</span>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="order-content">
                    <div class="col-xs-6 order-product">
                        <div class="col-xs-3 img">
                            <img src="{{ asset('img/honey.jpg') }}" />
                        </div>
                        <div class="col-xs-9 order-product-name">
                            <h5><a href="product.html">
                                【爱他美奶粉】爱他美金装一段奶粉 宝宝最佳选择 新西兰
                            </a></h5>
                            <h6>3段</h6>                                          

                        </div>

                    </div>
                    <div class="col-xs-6 order-product">
                        <div class="col-xs-3 img">
                            <img src="{{ asset('img/honey.jpg') }}" />
                        </div>
                        <div class="col-xs-9 order-product-name">
                            <h5><a href="product.html">
                                【爱他美奶粉】爱他美金装一段奶粉 宝宝最佳选择 新西兰
                            </a></h5>
                            <h6>3段</h6>                                          
                        </div>
                    </div>
                </div>
            </div>
