{% extends 'views/User/default/index.html.twig' %}
{% block page_breadcrumb %}新建地址/修改地址{% endblock page_breadcrumb %}
{% block page_title %}新建地址/修改地址{% endblock page_title %}
{% block fos_user_content %}

{% if address.id %}
{{ form_start(form, { method: 'POST', action: path('user_address_edit',{ 'id': address.id }) }) }}
{% else %}
{{ form_start(form, { method: 'POST', action: path('user_address_create') }) }}	
{% endif %}
<div class="form">
     <div>{{ form_label(form.country) }}
     {{ form_widget(form.country) }}{{ form_widget(form.city) }}</div>
     <div>{{ form_label(form.region) }}{{ form_widget(form.region) }}</div>
     <div>{{ form_label(form.post_code) }}{{ form_widget(form.post_code) }}</div>
     <div>{{ form_label(form.address) }}{{ form_widget(form.address) }}</div>
     <div>{{ form_label(form.name) }}{{ form_widget(form.name) }}</div>
     <div>{{ form_label(form.phone_no) }}{{ form_widget(form.phone_no) }}</div>
     <div>{{ form_label(form.contact_no) }}{{ form_widget(form.contact_no) }}</div>
     <div>{{ form_label(form.id_no) }}{{ form_widget(form.id_no) }}</div>
     <div>{{ form_label(form.img1) }}{{ form_widget(form.img1) }}</div>
     <div>{{ form_label(form.img2) }}{{ form_widget(form.img2) }}</div>
     <div style="display:none">
     <div>{{ form_label(form.comment) }}{{ form_widget(form.comment) }}</div>
 </div>
   <!-- 这里需要判断下这两个字段idFront 和 back -->
   <img src="{{ asset('img/idScan') }}/{{address.idFront}}" style="width: 200px;">
   <img src="{{ asset('img/idScan') }}/{{address.idBack}}" style="width: 200px;">
</div>
<div>
  <input type="submit" value="取消" onclick="window.history.back();">
  <input type="submit" value="提交" />
</div>
{{ form_end(form) }}
{% endblock fos_user_content %}


