{% extends 'views/User/default/index.html.twig' %}
{% block page_breadcrumb %}上传身份证{% endblock page_breadcrumb %}
{% block page_title %}上传身份证{% endblock page_title %}
{% block fos_user_content %}
<div class="idupload-content">
{{dump(addresses)}}
  {% for address in addresses %}
  <div class="idupload-image-each"> 
    <label>
     订单号：9289742834 
   </label>
   <div class="idupload-image-detail">
    <div>
     身份证号码：{{address.idNo}}
   </div>

   <div>
     <div id="1" class="idupload-image"> 
       <img class="lazy" src="{{ asset('img/default.png') }}" data-original="{{ asset('img/sub1.jpg') }}" />
       <div class="idupload-image-remove hide">
         <i class="fa fa-remove"></i>
       </div>
     </div>
     <div id="2" class="idupload-image"> 
       <img class="lazy" src="{{ asset('img/default.png') }}" data-original="{{ asset('img/sub2.jpg') }}" />
       <div class="idupload-image-remove hide">
         <i class="fa fa-remove"></i>
       </div>
     </div>
   </div>
 </div>
 <a href="{{ path('user_idupload_edit', { id: address.id }) }}">
  <strong>编辑</strong></a>
  <a href="{{ path('user_idupload_remove', { id: address.id }) }}">
    <strong>删除</strong></a>
  </div>
  {% endfor %}

  <div>
    <form action="{{path('user_idupload_create')}}" method="post" onsubmit="">
      <input type="submit" value="添加" >
    </form>
  </div>
</div>
{% endblock fos_user_content %}