
{% for address in addresses %}
    <div class="address-each"> 
        <!-- <a href="#" class="pull-right">设为默认地址</a> -->
        <h5>
            <label>{{ address.name }}
                 {% if address.contactNo|length > 0 %}
                 <span>&nbsp;&nbsp;({{ address.contactNo }})</span>
                 {% endif %}
            </label>
                 <div class="address-detail">
                 {{ address.address }}
                 {% if address.region|length > 0 %},{% endif %} 
                 {{ address.region }}
                  {% if address.city|length > 0 %},{% endif %} 
                 {{ address.city }}
                  {% if address.postCode|length > 0 %},{% endif %} 
                 {{ address.postCode }}
                 </div>
            <div>{{ address.country }}</div>  
        </h5>
        <a href="{{ path('user_address_edit', { id: address.id }) }}">
        <strong>编辑</strong></a>
    </div>
    {% endfor %}
    <div class="clear">
	<form action="{{path('user_address_create')}}" method="get" onsubmit="">
    <input type="submit" value="返回" onclick="window.history.back();">
    <input type="submit" value="添加" >
    </form>
</div>


