{% extends 'layout_main.html.twig' %}

{% block title %}搜索{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/search.css') }}" type="text/css">
{% endblock %}

{% block body %}
<div id="header"></div>
        <div id="search-page" class="container-non-responsive">
            <!--Left Navbar Section -->
            <div class="row">
                <div class="col-xs-3 siderbar">
                    <div id="siderbar"></div>

                    <!--best pros-->
                    <div class="side">
                        <div class="side-title">
                            <p>人气商品</p>
                        </div>
                        <div class="side-content">
                            <div class="side-item">
                                <a href="product.html">
                                    <img class="lazy" src="{{asset('img/default.png')}}" data-original="{{asset('img/aptami.jpg')}}" alt="">
                                    <span class="pro-text">
                                        <span class="pro-title">【爱他美奶粉】爱他美金装一段奶粉 宝宝最佳选择 新西兰<br></span>
                                        <span class="price">$79.00</span>
                                        <del>$89.00</del>
                                    </span>
                                </a>
                            </div>
                            <div class="side-item">
                                <a href="product.html">
                                   <img class="lazy" src="{{asset('img/default.png')}}" data-original="{{asset('img/aptami.jpg')}}" alt="">
                                    <span class="pro-text"><span class="pro-title">【爱他美奶粉】爱他美金装一段奶粉 宝宝最佳选择 新西兰<br></span><span class="price">$79.00</span><del>$89.00</del></span>
                                </a>
                            </div>
                            <div class="side-item">
                                <a href="product.html">
                                    <img class="lazy" src="{{asset('img/default.png')}}" data-original="{{asset('img/aptami.jpg')}}" alt="">
                                    <span class="pro-text"><span class="pro-title">【爱他美奶粉】爱他美金装一段奶粉 宝宝最佳选择 新西兰<br></span><span class="price">$79.00</span><del>$89.00</del></span>
                                </a>
                            </div>
                        </div>
                    </div> 

                    <!--best pros-->
                    <div class="side">
                        <div class="side-title">
                            <p>折扣商品</p>
                        </div>
                        <div class="side-content">
                            <div class="side-item">
                                <a href="product.html">
                                    <img class="lazy" src="{{asset('img/default.png')}}" data-original="{{asset('img/aptami.jpg')}}" alt="">
                                    <span class="pro-text">
                                        <span class="pro-title">【爱他美奶粉】爱他美金装一段奶粉 宝宝最佳选择 新西兰<br></span>
                                        <span class="price">$79.00</span>
                                        <del>$89.00</del>
                                    </span>
                                </a>
                            </div>
                            <div class="side-item">
                                <a href="product.html">
                                    <img class="lazy" src="{{asset('img/default.png')}}" data-original="{{asset('img/aptami.jpg')}}" alt="">
                                    <span class="pro-text"><span class="pro-title">【爱他美奶粉】爱他美金装一段奶粉 宝宝最佳选择 新西兰<br></span><span class="price">$79.00</span><del>$89.00</del></span>
                                </a>
                            </div>
                            <div class="side-item">
                                <a href="product.html">
                                    <img class="lazy" src="{{asset('img/default.png')}}" data-original="{{asset('img/aptami.jpg')}}" alt="">
                                    <span class="pro-text"><span class="pro-title">【爱他美奶粉】爱他美金装一段奶粉 宝宝最佳选择 新西兰<br></span><span class="price">$79.00</span><del>$89.00</del></span>
                                </a>
                            </div>
                        </div>
                    </div> 

                </div>




                <div class="col-xs-9 page-right">
                    <div class="page-title">
                        <h4><a href="index.html">主页</a>><span>搜索内容</span></h4>
                    </div>
                    <div class="page-content">
                        <!--toolbar-->  
                        <div class="toolbar">
                            <div class="pull-left">
                                <div class="select-box-order active" id="select-box1" onClick="changeselectbox(1)">
                                    <i>默认排序</i>  
                                </div>

                                <div class="select-box-order" id="select-box2" onClick="changeselectbox(2)">
                                    <i>价格</i>
                                    <i class="fa fa-long-arrow-up"></i>
                                    <i class="fa fa-long-arrow-down"></i>
                                </div>

                                <div class="select-box-order" id="select-box3" onClick="changeselectbox(3)">
                                    <i>销量</i>
                                    <i class="fa fa-long-arrow-up"></i>
                                    <i class="fa fa-long-arrow-down"></i>
                                </div>

                                <div class="select-box-order" id="select-box4" onClick="changeselectbox(4)">
                                    <i>发布时间</i>
                                    <i class="fa fa-long-arrow-up"></i>
                                    <i class="fa fa-long-arrow-down"></i>
                                </div>
                            </div>

                            <div class="pull-right">
                                <label>每页显示：</label>
                                <span class="select-box-num">
                                    <a href="#" class="active">24</a>
                                    <a href="#" class="">16</a>
                                    <a href="#" class="">8</a>
                                </span>
                            </div>

                        </div>
                        <!--//toolbar-->  
                        <!--search products--> 
                        <div class="hotdeal clearfix">
                            <div class="row">
                                <div class="col-xs-4">
                                    <a href="product.html">
                                        <img class="lazy" src="{{asset('img/default.png')}}" data-original="{{asset('img/aptami.jpg')}}" alt="">
                                        <span class="pro-text"><span class="pro-title">【爱他美奶粉】爱他美金装一段奶粉 宝宝最佳选择 新西兰<br></span><span class="price">$79.00</span><del>$89.00</del></span>
                                    </a>
                                </div>
                                <div class="col-xs-4">
                                    <a href="product.html">
                                        <img class="lazy" src="{{asset('img/default.png')}}" data-original="{{asset('img/aptami.jpg')}}" alt="">
                                        <span class="pro-text"><span class="pro-title">【爱他美奶粉】爱他美金装一段奶粉 宝宝最佳选择 新西兰<br></span><span class="price">$79.00</span><del>$89.00</del></span>
                                    </a>
                                </div>
                                <div class="col-xs-4">
                                    <a href="product.html">
                                        <img class="lazy" src="{{asset('img/default.png')}}" data-original="{{asset('img/aptami.jpg')}}" alt="">
                                        <span class="pro-text"><span class="pro-title">【爱他美奶粉】爱他美金装一段奶粉 宝宝最佳选择 新西兰<br></span><span class="price">$79.00</span><del>$89.00</del></span>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <a href="product.html">
                                        <img class="lazy" src="{{asset('img/default.png')}}" data-original="{{asset('img/aptami.jpg')}}" alt="">
                                        <span class="pro-text"><span class="pro-title">【爱他美奶粉】爱他美金装一段奶粉 宝宝最佳选择 新西兰<br></span><span class="price">$79.00</span><del>$89.00</del></span>
                                    </a>
                                </div>
                                <div class="col-xs-4">
                                    <a href="product.html">
                                        <img class="lazy" src="{{asset('img/default.png')}}" data-original="{{asset('img/aptami.jpg')}}" alt="">
                                        <span class="pro-text"><span class="pro-title">【爱他美奶粉】爱他美金装一段奶粉 宝宝最佳选择 新西兰<br></span><span class="price">$79.00</span><del>$89.00</del></span>
                                    </a>
                                </div>
                                <div class="col-xs-4">
                                    <a href="product.html">
                                        <img class="lazy" src="{{asset('img/default.png')}}" data-original="{{asset('img/aptami.jpg')}}" alt="">
                                        <span class="pro-text"><span class="pro-title">【爱他美奶粉】爱他美金装一段奶粉 宝宝最佳选择 新西兰<br></span><span class="price">$79.00</span><del>$89.00</del></span>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <a href="product.html">
                                        <img class="lazy" src="{{asset('img/default.png')}}" data-original="{{asset('img/aptami.jpg')}}" alt="">
                                        <span class="pro-text"><span class="pro-title">【爱他美奶粉】爱他美金装一段奶粉 宝宝最佳选择 新西兰<br></span><span class="price">$79.00</span><del>$89.00</del></span>
                                    </a>
                                </div>
                                <div class="col-xs-4">
                                    <a href="product.html">
                                        <img class="lazy" src="{{asset('img/default.png')}}" data-original="{{asset('img/aptami.jpg')}}" alt="">
                                        <span class="pro-text"><span class="pro-title">【爱他美奶粉】爱他美金装一段奶粉 宝宝最佳选择 新西兰<br></span><span class="price">$79.00</span><del>$89.00</del></span>
                                    </a>
                                </div>
                                <div class="col-xs-4">
                                    <a href="product.html">
                                        <img class="lazy" src="{{asset('img/default.png')}}" data-original="{{asset('img/aptami.jpg')}}" alt="">
                                        <span class="pro-text"><span class="pro-title">【爱他美奶粉】爱他美金装一段奶粉 宝宝最佳选择 新西兰<br></span><span class="price">$79.00</span><del>$89.00</del></span>
                                    </a>
                                </div>
                            </div>
                        </div> 
                        <div class="toolbar toolbar-bottom">
                            <div class="pull-right">
                                <label>页面：</label>
                                <span class="select-box-num">
                                    <a href="#" class="i-next" href="#" title="下一个"><i class="fa fa-caret-right"></i></a>
                                    <a href="#" class="">4</a>
                                    <a href="#" class="">3</a>
                                    <a href="#" class="">2</a>
                                    <a href="#" class="active">1</a>
                                </span>
                            </div>
                        </div> 
                    </div>
                </div>  
            </div> <!--//search products-->     
        </div><!-- /container-non-responsive -->
    {{ dump(data) }}
{% endblock %}

{% block javascripts %}
        <script src="{{ asset('js/search.js') }}"></script>
    {% endblock %}
