{% extends 'Admin/admin_layout.html.twig' %}


{% block adminAddress %}
    <li class="active">
        <a href="#" class="auto">
    <span class="pull-right text-muted">
      <i class="i i-circle-sm-o text"></i>
      <i class="i i-circle-sm text-active"></i>
    </span>
            <i class="i i-book icon">
            </i>
            <span class="font-bold">地址管理</span>
        </a>
        <ul class="nav dk">
            <li>
                <a href="{{ path('admin_address') }}" class="auto">
                    <i class="i i-dot"></i>
                    <span>地址列表</span>
                </a>
            </li>
            <li class="active">
                <a href="{{ path('admin_address_new') }}" class="auto">
      <span class="pull-right text-muted">
        <i class="i i-circle-sm-o text"></i>
        <i class="i i-circle-sm text-active"></i>
      </span>
                    <i class="i i-dot"></i>
                    <span>添加地址</span>
                </a>
            </li>
        </ul>
    </li>


{% endblock %}

  {% block body %}
      <section id="content">
          <section class="vbox">
              <header class="header bg-light b-b">
                  <p><strong>添加地址</strong></p>
              </header>
              <section class="scrollable padder">

                  <div class="form">
                      {{ form_start(form) }}

                      <div class="admin-buttons">
                          {{ form_widget(form.submit, { 'label': '添加' }) }}
                          <a href="{{ path('admin_address') }}">返回
                          </a>
                      </div>
                      {{ form_end(form) }}
                  </div>

              </section>

          </section>
      </section>
  {% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/SimpleAjaxUploader.js') }}"></script>
    <script src="{{ asset('js/admin-address.js') }}"></script>
{% endblock %}
