{% extends 'Admin/admin_layout.html.twig' %}


{% block adminAddress %}
    <li class="active">
        <a href="#" class="auto">
    <span class="pull-right text-muted">
      <i class="i i-circle-sm-o text"></i>
      <i class="i i-circle-sm text-active"></i>
    </span>
            <i class="i i-book icon">
            </i>
            <span class="font-bold">地址管理</span>
        </a>
        <ul class="nav dk">
            <li>
                <a href="{{ path('admin_address') }}" class="auto">
                    <i class="i i-dot"></i>
                    <span>地址列表</span>
                </a>
            </li>
            <li class="active">
                <a href="{{ path('admin_address_new') }}" class="auto">
      <span class="pull-right text-muted">
        <i class="i i-circle-sm-o text"></i>
        <i class="i i-circle-sm text-active"></i>
      </span>
                    <i class="i i-dot"></i>
                    <span>添加地址</span>
                </a>
            </li>
        </ul>
    </li>


{% endblock %}

  {% block body %}
      <section id="content">
          <section class="vbox">
              <header class="header bg-light b-b">
                  <p><strong>添加地址</strong></p>
              </header>
              <section class="scrollable padder">

                  <div class="form">
                      {{ form_start(form) }}

                      <div class="admin-buttons">
                          <div><label>*收货地区</label> {{ form_widget(form.country) }}</div>
                          <div><label>身份</label> {{ form_widget(form.region) }}</div>
                          <div><label>城市</label> {{ form_widget(form.city) }}</div>
                          <div><label>邮编</label> {{ form_widget(form.post_code) }}</div>
                          <div><label>*收货地址</label> {{ form_widget(form.address) }}</div>
                          <div><label>*收件人姓名</label> {{ form_widget(form.name) }}</div>
                          <div><label>*收件人手机号</label> {{ form_widget(form.phone_no) }}</div>
                          <div><label>*固定电话></label> {{ form_widget(form.contact_no) }}</div>
                          <div><label>*收件人身份证号</label> {{ form_widget(form.id_no) }}</div>
                          <div><label>*订单附言</label> {{ form_widget(form.comment) }}</div>
                          <div class="display: none"> {{ form_widget(form.img1) }}</div>
                          <div class="display: none"> {{ form_widget(form.img2) }}</div>
                          {{ form_widget(form.submit, { 'label': '添加' }) }}
                          <a href="{{ path('admin_address') }}">返回
                          </a>
                      </div>
                      {{ form_end(form) }}
                  </div>

              </section>

          </section>
      </section>
  {% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/SimpleAjaxUploader.js') }}"></script>
    <script src="{{ asset('js/admin-address.js') }}"></script>
{% endblock %}
