<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>彩购网{% block title %}{% endblock %}</title>
        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}" type="text/css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css">		
        <!-- Favicons if possible -->
        <!-- <link rel="shortcut icon" href="ico/favicon.ico"> -->
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="header">
            <div class="navbar">
                <div class="container-non-responsive">
                    <div class="pull-left">
                        <h6>欢迎来到彩购!<a href="#">收藏彩购网</a>    </h6>       
                    </div>
                    <div class="pull-right">
                            <h6>
                        <div id="before-login" style="display:inline-block;">
                        <a class="a-login" href="{{ path('fos_user_security_login') }}">登录</a>
                           <a class="a-register" href="{{ path('fos_user_registration_register') }}">注册</a>
                            </div>
                            <div id="after-login" style="display:none;">
                           Hi <a class="no-padding a-login" href="user.html">Charis Wan</a>
                            <a class="no-padding" href="index.html">（退出）</a>
                            </div>
                            <div class="user">
                               <a href="login.html">我的彩购</a> 
                                <div class="user-list">
                                    <div><a href="login.html">我的账户</a></div>
                                    <div><a href="login.html">我的积分</a></div>
                                    <div><a href="login.html">充值</a></div>
                                </div>
                            </div>
                            <div class="history">
                                <a href="product.html" >最近浏览</a>
                                <div class="history-list">
                                    <div class="item">
                                        <a href="product.html" >
                                            <div class="cart-image">
                                                <img src="{{ asset('img/aptami.jpg') }}" />
                                            </div>
                                            <div class="nav-cart-content">
                                                <h5>麦卢卡蜂蜜</h5>
                                                <span><strong>$2000.00</strong></span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="item">
                                       <a href="product.html" >
                                            <div class="cart-image">
                                                <img src="{{ asset('img/aptami.jpg') }}" />
                                            </div>
                                            <div class="nav-cart-content">
                                                <h5>麦卢卡蜂蜜</h5>
                                                <span><strong>$2000.00</strong></span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="more">
                               <a href="#">更多</a> 
                                <div class="more-list">
                                    <div><a href="contact.html">联系我们</a></div>
                                    <div><a href="about.html">关于我们</a></div>    
                                </div>
                            </div>

                       </h6>
                    </div>
                </div>
            </div>

            <!-- Lower Header Section -->
            <div id="mid-header">
                <div class="container-non-responsive">
                    <div class="col-xs-3">
                        <a class="logo" href="index.html">
                            <img src="{{ asset('img/logo.jpg') }}" alt="彩购网">
                        </a>
                    </div>
                    <div class="col-xs-7">
                        <div class="navbar-search pull-left">
                            <input type="text" placeholder="搜索产品..." class="search-query">
                            <button onclick="location.href = 'search.html'">搜索</button>
                        </div>
                        <div class="col-xs-9 search-keys">
                            <h6>
                                <a href="product.html">麦卢卡蜂蜜</a><span class="dashed"></span>
                                <a href="product.html">好健康蜂胶</a><span class="dashed"></span>
                                <a href="product.html">爱他美婴儿奶粉</a><span class="dashed"></span>
                                <a href="product.html">蔓越莓</a><span class="dashed"></span>
                                <a href="product.html">纽乐鱼油</a><span class="dashed"></span>
                                <a href="product.html">护手霜</a>
                            </h6>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <a class="cart" href="cart.html">
                            <img src="{{ asset('img/cart.gif') }}">
                            <span>&nbsp;购物车 &nbsp;(2)</span>
                        </a>
                        <div class="clear"></div>
                        <div class="cart-list">
                            <i class="cart-block-row"></i>
                            <div class="item">
                                <div class="cart-image">
                                    <img src="{{ asset('img/aptami.jpg') }}" />
                                </div>
                                <div class="nav-cart-content">
                                    <h5>麦卢卡蜂蜜</h5>
                                    <span><strong>$2000.00</strong></span>
                                    <span>×20</span>
                                    <span class="remove"><a href="#">删除</a></span>
                                </div>

                            </div>
                            <div class="item">
                                <div class="cart-image">
                                    <img src="{{ asset('img/aptami.jpg') }}" />
                                </div>
                                <div class="nav-cart-content">
                                    <h5>麦卢卡蜂蜜</h5>
                                    <span><strong>$220.00</strong></span>
                                    <span>×5</span>
                                    <span class="remove"><a href="#">删除</a></span>
                                </div>

                            </div>
                            <div class="total">
                                <span>共<strong>25</strong>件商品</span>
                                <span>共计<strong>$411.00</strong></span>
                            </div>
                            <button class="see-more" onclick="location.href = 'cart.html'">结算</button>
                        </div>
                    </div>
                </div>
            </div>

            <nav id="topnav" class="top-nav">
                <div class="nav-all">
                    <a role="button" >
                        <p>全部商品分类<i class="fa fa-chevron-down"></i></p>
                    </a>
                </div>
                <div class="nav-right">
                    <a href="index.html" class="active">首页</a>
                    <a href="about.html">关于彩购</a>
                    <a href="#">物流中心</a>
                    <a href="contact.html">联系我们</a>
                </div>
            </nav>
        </div>


        <!-- body -->
        {% block body %}{% endblock %}




        <div id="footer">
            <footer>
                <div class="container-non-responsive">  
                    <div class="col-xs-2">
                            <h5>公司简介</h5><br>
                             <a href="about.html">
                            <p> 采购网是一家专注纽澳特产品，护肤品，保健品为一体的大型连锁专营店。 </p>
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <h5>新手指南</h5><br>
                        <a href="contact.html">账号注册</a><br>
                        <a href="#">充值积分</a><br>
                        <a href="#">产品退税</a><br>
                        <a href="#">购物流程</a><br>
                    </div>
                    <div class="col-xs-2">
                        <h5>发货说明</h5><br>
                        <a href="#">快递资费标准</a> <br>
                        <a href="#">收货时间</a><br>
                        <a href="#">订单拆分</a><br>    
                    </div>
                    <div class="col-xs-2">
                        <h5>支付方式</h5><br>
                        <a href="payment.html">在线支付</a> <br>
                        <a href="#">信用卡支付</a><br>
                        <a href="#">银行转账</a><br>
                        <a href="#"><img src="{{ asset('img/payment/paymentexpress.png') }}" alt="payment"></a>
                    </div>
                    <div class="col-xs-2">
                        <h5>售后服务</h5><br>
                        <a href="#">退换货政策</a> <br>
                        <a href="#">退换货流程</a><br>
                        <a href="#">退款说明</a><br>
                        <a href="#">我要退货/换货</a><br>
                    </div>
                    <div class="col-xs-2">
                        <h5>联系我们</h5><br>
                        <a href="joinUs.html">加入我们</a><br>
                        <a href="contact.html">联系我们</a><br>
                        <a href="#">友情链接</a><br>
                    </div>
                </div>

                <div class="copyright">
                    <div class="container-non-responsive">              
                        <span>Copyright &copy;2015 彩购网 Copyright</span>
                    </div>
                </div>
            </footer>


            <div id="gototop">
                <i class="fa fa-chevron-up"></i>
                <div>返回顶部</div>
            </div>

        <!-- No Javascript warnings -->
            <noscript>
            <div>You browser doesn't support JavaScript or has it turned off. This website requires JavaScript to working propertly.</div>
            </noscript>
        </div>

        <!-- jQuery -->
        <script src="{{ asset('js/jquery-1.11.3.min.js') }}"></script>
        <script src="{{ asset('js/jquery.easing-1.3.min.js') }}"></script>
        <script src="{{ asset('js/jquery.scrollTo-1.4.3.1-min.js') }}"></script>
        <script src="{{ asset('js/jquery.lazyload.min.js') }}"></script>


        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>

        <!-- Custom JavaScript -->
        <script src="{{ asset('js/shop.js') }}"></script>

        {% block javascripts %}
        {% endblock %}

    </body>