<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>丰盛湾---{% block title %}主页{% endblock %}</title>
        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}" type="text/css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css">
        <!-- Custom upload image CSS -->
        <link rel="stylesheet" href="{{ asset('css/uploadimage.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/jquery.Jcrop.css') }}"  type="text/css"/>

        {% block stylesheets %}{% endblock %}
        <!-- Custom icon -->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="header">
            <div class="navbar">
                <div class="container-non-responsive">
                <div class="pull-left">
                        <h6>欢迎来到丰盛湾!</h6>
                        <a id="bookmarkme" href="javascript:;"><h6 class="color-basis">收藏网站</h6></a>       
                    </div>
                    <div class="pull-right">
                        <a href="{{ path('about') }}"><h6>关于Plenty Bay丰盛湾</h6></a>
                        <a href="{{ path('contact') }}"><h6 class="color-basis">联系我们</h6></a>       
                    </div>  
                </div>
            </div>

             {% block header %}
            <!-- Lower Header Section -->
            <div id="mid-header">
                <div class="container-non-responsive">
                    <div class="col-xs-2 logo-width">
                        <a class="logo" href="{{ path('homepage') }}">
                            <img src="{{ asset('img/logo-new.jpg') }}" alt="丰盛湾">
                        </a>
                        <h4 class="text-right">丰盛湾</h4>
                    </div>
                    <div class="col-xs-10">
                        <div class="navbar-top">
                            <div class="search-keys pull-left">                           
                                <a href="/b2c/web/app.php/c/554"><h6>麦卢卡蜂蜜</h6></a>
                                <a href="/b2c/web/app.php/c/545"><h6>好健康蜂胶</h6></a>
                                <a href="/b2c/web/app.php/c/552"><h6>爱他美婴儿奶粉</h6></a>
                                <a href="/b2c/web/app.php/c/558"><h6>蔓越莓</h6></a>
                                <a href="/b2c/web/app.php/c/558"><h6>纽乐鱼油</h6></a>
                                <a href="/b2c/web/app.php/c/587"><h6>护手霜</h6></a>
                            </div>
                            <div class="curreny pull-right">
                                <select class="dollar-select">
                                <option><h6>$ NZ Dollar</h6></option>
                                <!-- <option><h6>$ AU Dollar</h6></option>
                                <option><h6>$ UK EURO</h6></option>
                                <option><h6>$ US Dollar</h6></option> -->
                                </select>
                                <select class="lang-select">
                                    <option><h6>CN</h6></option>
                                    <!-- <option><h6>EN</h6></option>
                                    <option><h6>FR</h6></option> -->
                                </select>    
                            </div> 
                        </div>
                        <div class="navbar-below">
                            <div class="col-xs-6 no-padding">
                            <div class="navbar-search pull-left">
                            <form action="{{ path('search', {keys : app.request.get('keys') }) }}" method="get"  onsubmit="">
                                <select class="search-select">
                                    <option value="蜂蜜" ><h6>蜂蜜</h6></option>
                                    <option value="蜂胶"  selected><h6>蜂胶</h6></option>
                                    <option value="鱼油"><h6>鱼油</h6></option>
                                </select>
                                <div class="search-input">
                                    <input type="text" id="keys" name="keys" lang="zh-CN" placeholder="搜索产品..." class="search-query" value="{{ app.request.get('keys') }}">
                                    <i class="fa fa-remove"></i>
                                </div>
                                <div class="search-button">
                                    <button type="submit">
                                    <i class="fa fa-search"></i>
                                    </button> 
                                    
                                </div>
                            </form> 
                            </div>
                        </div>
                        <div class="col-xs-4 no-padding">  
                            <div class="pull-right my-detail">             
                                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <div id="after-login">
                                    <a class="a-login" href="{{ path('user_profile') }}"><h6>{{ app.user.username }}</h6></a>
                                    <a class="a-login" href="{{path('fos_user_security_logout')}}"><h6 class="no-padding">(退出)</h6></a>
                                </div>
                                 <div id="user-home" class="history nav-hover a-login">
                                    <a href="{{ path('user_profile') }}"><h6>我的丰盛湾</h6></a> 
                                    <div class="history-list">
                                        <div><a href="{{path('user_profile')}}"><h6>我的账户</h6></a></div>
                                        <div><a href="{{path('user_profile')}}"><h6>我的积分</h6></a></div>
                                        <div><a href="{{path('user_profile')}}"><h6>充值</h6></a></div>
                                    </div>
                                </div>
                                 {% else %}
                                <div id="before-login">
                                    <a class="a-login" href="{{path('fos_user_security_login')}}"><h6>登录</h6></a>
                                    <a class="a-login" href="{{path('fos_user_registration_register')}}"><h6>注册</h6></a>
                                </div>
                                 {% endif %}            
                                <div id="history-view" class="history a-login" data-hovered="unhovered" data-path="{{ path('recent_view_ajax_get') }}">
                                    <h6>最近浏览</h6>
                                    <div class="history-list history-view">
                                        <div class="cart-spinner">
                                            <img src="{{ asset('img/spinner.gif')}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2 no-padding">
                            <div class="cart-wrapper" data-hovered="unhovered" data-path="{{ path('cart_ajax_get') }}">
                            {{ render(controller('AppBundle:Widget/Cart:index')) }}
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>

            {% endblock %}
        </div>

        <!-- body -->
        <div class="container-non-responsive">
            {% block body %}{% endblock %} 
        </div>
        <div id="footer">
          <div class="container-non-responsive">
            <div class="row no-border footer-desc">
                    <div class="col-xs-6 footer-about">
                        <h3>关于我们</h3>
                        <div>丰盛湾是一家专注纽澳特产品，护肤品，保健品为一体的大型连锁专营店。<br>
                    我们代理的都是新西兰澳洲药房所认可的大品牌，绝对一手货源，百分百保真。产品种类繁多，有上千种网络热销产品，代购追捧单品，经济实惠，价格合理。</div>
                    </div>
                    <div class="col-xs-3 footer-feedback">
                        <h3>客户反馈</h3>
                        <div><img src="{{ asset('img/feedback.jpg') }}" alt=""></div>
                    </div>
                    <div class="col-xs-3 footer-guarantee">
                        <h3>Plenty Bay 承诺</h3>
                        <div><img src="{{ asset('img/guran.jpg') }}" alt=""></div>
                    </div>
                </div>
        </div>
        <div class="container-non-responsive"> 
            <div class="footer-up">
            <div class="col-xs-2">
                <h5>新手指南</h5><br>
                <a href="{{ path('contact') }}"><h6>账号注册</h6></a>
                <a href="{{ path('homepage') }}"><h6>充值积分</h6></a>
                <a href="{{ path('homepage') }}"><h6>产品退税</h6></a>
                <a href="{{ path('homepage') }}"><h6>购物流程</h6></a>
            </div>
            <div class="col-xs-2">
                <h5>发货说明</h5><br>
                <a href="{{ path('homepage') }}"><h6>快递资费标准</h6></a>
                <a href="{{ path('homepage') }}"><h6>收货时间</h6></a>
                <a href="{{ path('homepage') }}"><h6>订单拆分</h6></a>   
            </div>
            <div class="col-xs-2">
                <h5>支付方式</h5><br>
                <a href="payment.html"><h6>在线支付</h6></a> 
                <a href="{{ path('homepage') }}"><h6>信用卡支付</h6></a>
                <a href="{{ path('homepage') }}"><h6>银行转账</h6></a>
               
            </div>
            <div class="col-xs-2">
                <h5>售后服务</h5><br>
                <a href="{{ path('homepage') }}"><h6>退换货政策</h6></a> 
                <a href="{{ path('homepage') }}"><h6>退换货流程</h6></a>
                <a href="{{ path('homepage') }}"><h6>退款说明</h6></a>
                <a href="{{ path('homepage') }}"><h6>我要退货/换货</h6></a>
            </div>
            <div class="col-xs-2">
                <h5>联系我们</h5><br>
                <a href="{{ path('contact') }}"><h6>加入我们</h6></a>
                <a href="{{ path('contact') }}"><h6>联系我们</h6></a>
                <a href="{{ path('homepage') }}"><h6>友情链接</h6></a>
            </div>
             <div class="col-xs-2">
                <h5>帮助中心</h5><br>
                <a href="{{ path('contact') }}"><h6>在线客服</h6></a>
                <a href="{{path("fos_user_resetting_request")}}"><h6>找回密码</h6></a>
            </div>
            </div>
            <div class="copyright"> 
             <a href="{{ path('homepage') }}"><img src="{{ asset('img/payment/paymentexpress.png') }}" alt="payment"></a>     
             <a href="{{ path('homepage') }}"><img src="{{ asset('img/payment/mc.png') }}" alt="payment"></a>
             <a href="{{ path('homepage') }}"><img src="{{ asset('img/payment/pp.png') }}" alt="payment"></a>  
             <a href="{{ path('homepage') }}"><img src="{{ asset('img/payment/visa.png') }}" alt="payment"></a>
                <span>&copy;Copyright 2008-2016 丰盛湾 All Rights Reserved</span>
                <!--gototop -->
            <div id="gototop">
                <span>返回顶部 <i class="fa fa-chevron-up"></i></span>
            </div>
            
        </div>
        </div>

        
        </div>
       

    <!-- No Javascript warnings -->
    <noscript>
        <div>You browser doesn't support JavaScript or has it turned off. This website requires JavaScript to working propertly.</div>
    </noscript>
    
        <!-- global asset var -->
        <script type="text/javascript">
            var assetsBaseDir = "{{ asset('/') }}";
        </script>
        <!-- jQuery -->
        <script type="text/javascript" src="{{ asset('js/jquery-1.11.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.easing-1.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.scrollTo-1.4.3.1-min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.lazyload.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.Jcrop.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.SimpleCropper.js') }}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <!-- Js Routing -->
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

        <!-- Custom JavaScript -->
        <script src="{{ asset('js/shop.js') }}"></script>
        <script type="text/javascript">
    $(document).ready(function() {
        
        $.ajax({
                url:  "{{ path('cart_ajax_get') }}",               
                method: "GET",
                dataType: "json"
            })
         .done(function (rep) {
                var num = null;
                var total = null;
                if (rep != 'none' || rep !='' || rep != null) {
                    $.each(rep, function(index, value) {
                        num += Number(value.count);
                        total = Math.round((total + parseInt(value.count) * Number(value.price_discounted))*100)/100;
                    });              
                    }
                    else {
                         num = 0;
                        total = 0.00;
                    }
                    $('#cart').html("<i class='fa fa-circle'><h6>" + num + "</h6></i><span><i class='fa fa-shopping-cart'></i>&nbsp;$" + total +"&nbsp;</span>");

                })
          });
        </script>
     
        {% block javascripts %}
        {% endblock %}

    </body>
</html>
