<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>彩购网---{% block title %}主页{% endblock %}</title>
        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}" type="text/css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/uploadimage.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/uploadimage2.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery.Jcrop.css') }}" />

        {% block stylesheets %}{% endblock %}
        <!-- Custom icon -->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="header">
            <div class="navbar">
                <div class="container-non-responsive">
                    <div class="pull-left">
                        <a href="{{ path('homepage') }}"><h6>欢迎来到彩购!</h6></a>
                        <a id="bookmarkme" href="javascript:;"><h6>收藏彩购网</h6></a>       
                    </div>
                    <div class="pull-right">                 
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <div id="after-login">
                                <a class="no-padding a-login" href="{{ path('user_profile') }}"><h6>{{ app.user.email }}&nbsp;|</h6></a>
                                <a class="no-padding a-login" href="{{path('fos_user_security_logout')}}"><h6>登出</h6></a>
                            </div>
                             <div id="user-home" class="history nav-hover">
                                <a href="{{ path('user_profile') }}"><h6>我的彩购</h6></a> 
                                <div class="history-list">
                                    <div><a href="{{path('user_profile')}}"><h6>我的账户</h6></a></div>
                                    <div><a href="{{path('user_profile')}}"><h6>我的积分</h6></a></div>
                                    <div><a href="{{path('user_profile')}}"><h6>充值</h6></a></div>
                                </div>
                            </div>
                             {% else %}
                            <div id="before-login">
                                <a class="a-login" href="{{path('fos_user_security_login')}}"><h6>登录</h6></a>
                                <a class="a-login" href="{{path('fos_user_registration_register')}}"><h6>注册</h6></a>
                            </div>
                             {% endif %}            
                            <div id="history-view" class="history" data-hovered="unhovered" data-path="{{ path('recent_view_ajax_get') }}">
                                <h6>最近浏览</h6>
                                <div class="history-list history-view">
                                    <div class="cart-spinner">
                                        <img src="{{ asset('img/spinner.gif')}}">
                                    </div>
                                </div>
                            </div>
                            <div id="more" class="history nav-hover">
                                <h6>更多</h6>
                                <div class="history-list">
                                    <div><a href="{{ path('contact') }}"><h6>联系我们</h6></a></div>
                                    <div><a href="{{ path('about') }}"><h6>关于我们</h6></a></div>    
                                </div>
                            </div>
                    </div>
                </div>
            </div>

             {% block header %}
            <!-- Lower Header Section -->
            <div id="mid-header">
                <div class="container-non-responsive">
                    <div class="col-xs-3">
                        <a class="logo" href="{{ path('homepage') }}">
                            <img src="{{ asset('img/logo.jpg') }}" alt="彩购网">
                        </a>
                    </div>
                    <div class="col-xs-7">
                        <div class="navbar-search pull-left">
                            <form action="{{ path('search') }}" method="get"  onsubmit="">
                                 <input type="text" id="keys" name="keys" lang="zh-CN" placeholder="搜索产品..." class="search-query" value="{{ app.request.get('keys') }}">
                                 <input type="submit" value="搜索">
                            </form>
                            <div class="search-keys pull-left">                           
                                <a href=""><h6>麦卢卡蜂蜜</h6></a>&nbsp;|
                                <a href=""><h6>好健康蜂胶</h6></a>&nbsp;|
                                <a href=""><h6>爱他美婴儿奶粉</h6></a>&nbsp;|
                                <a href=""><h6>蔓越莓</h6></a>&nbsp;|
                                <a href=""><h6>纽乐鱼油</h6></a>&nbsp;|
                                <a href=""><h6>护手霜</h6></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                    <div class="cart-wrapper" data-hovered="unhovered" data-path="{{ path('cart_ajax_get') }}">
                        {{ render(controller('AppBundle:Widget/Cart:index')) }}
                    </div>
                    </div>
                </div>
            </div>

            <div id="sub-navbar" class="sub-nav">
                <div class="nav-all">
                    <a href="{{ path('category') }}">全部商品分类</a>
                    <i class="fa fa-chevron-down"></i>
                    <div id="siderbar">
                        {{ render(controller('AppBundle:Widget/Menu:index')) }}
                    </div>
                </div>
                <div class="nav-right">
                    <a href="{{path('homepage')}}" class="active">首页</a>
                    <a href="{{ path('about') }}">关于彩购</a>
                    <a href="{{ path('homepage') }}">物流中心</a>
                    <a href="{{ path('contact') }}">联系我们</a>
                </div>
            </div>
            {% endblock %}
        </div>

        <!-- body -->
        {% block body %}{% endblock %}
        <div id="footer">
        <div class="container-non-responsive">  
            <div class="col-xs-2">
                    <h5>公司简介</h5><br>
                     <a href="{{ path('about') }}">
                    <p> 采购网是一家专注纽澳特产品，护肤品，保健品为一体的大型连锁专营店。 </p>
                </a>
            </div>
            <div class="col-xs-2">
                <h5>新手指南</h5><br>
                <a href="{{ path('contact') }}">账号注册</a><br>
                <a href="{{ path('homepage') }}">充值积分</a><br>
                <a href="{{ path('homepage') }}">产品退税</a><br>
                <a href="{{ path('homepage') }}">购物流程</a><br>
            </div>
            <div class="col-xs-2">
                <h5>发货说明</h5><br>
                <a href="{{ path('homepage') }}">快递资费标准</a> <br>
                <a href="{{ path('homepage') }}">收货时间</a><br>
                <a href="{{ path('homepage') }}">订单拆分</a><br>    
            </div>
            <div class="col-xs-2">
                <h5>支付方式</h5><br>
                <a href="payment.html">在线支付</a> <br>
                <a href="{{ path('homepage') }}">信用卡支付</a><br>
                <a href="{{ path('homepage') }}">银行转账</a><br>
                <a href="{{ path('homepage') }}"><img src="{{ asset('img/payment/paymentexpress.png') }}" alt="payment"></a>
            </div>
            <div class="col-xs-2">
                <h5>售后服务</h5><br>
                <a href="{{ path('homepage') }}">退换货政策</a> <br>
                <a href="{{ path('homepage') }}">退换货流程</a><br>
                <a href="{{ path('homepage') }}">退款说明</a><br>
                <a href="{{ path('homepage') }}">我要退货/换货</a><br>
            </div>
            <div class="col-xs-2">
                <h5>联系我们</h5><br>
                <a href="joinUs.html">加入我们</a><br>
                <a href="{{ path('contact') }}">联系我们</a><br>
                <a href="{{ path('homepage') }}">友情链接</a><br>
            </div>
        </div>

        <div class="copyright">
            <div class="container-non-responsive">              
                <span>Copyright &copy;2015 彩购网 Copyright</span>
            </div>
        </div>
        </div>

        <!--loading -->
        <div id="loading">
            <div>
                <h4>加载中， 请稍等</h4>
                 <img src="{{ asset('img/ajax-loader.gif') }}">
            </div>
        </div>

        <!--gototop -->
        <div id="gototop">
            <i class="fa fa-chevron-up"></i>
            <div>返回顶部</div>
        </div>

    <!-- No Javascript warnings -->
    <noscript>
        <div>You browser doesn't support JavaScript or has it turned off. This website requires JavaScript to working propertly.</div>
    </noscript>
    
        <!-- global asset var -->
        <script type="text/javascript">
            var assetsBaseDir = "{{ asset('/') }}";
        </script>
        <!-- jQuery -->
        <script type="text/javascript" src="{{ asset('js/jquery-1.11.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.easing-1.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.scrollTo-1.4.3.1-min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.lazyload.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.Jcrop.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.SimpleCropper.js') }}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <!-- Js Routing -->
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

        <!-- Custom JavaScript -->
        <script src="{{ asset('js/shop.js') }}"></script>

        {% block javascripts %}
        {% endblock %}

    </body>
</html>
