{% extends 'layout_main.html.twig' %}

{% block title %}用户{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user.css') }}" type="text/css">
{% endblock %}

{% block body %}

<div id="header"></div>
<div id="user-page" class="container-non-responsive">
     <div id="siderbar">
     {% include 'Widget/sidebar.html.twig' %}
      </div>
	<div class="user-left col-xs-3 siderbar">
		<ul class="nav nav-list">
			<li class="active">
				<a href="{{path("fos_user_profile_show")}}" class="tab">账户管理</a>
			</li>
			<li>
				<a href="#tab2" class="tab">我的订单</a>
			</li>
			<li>
				<a href="#tab3" class="tab">充值</a>
			</li>
			<li>
				<a href="#tab4" class="tab">消费历史</a>
			</li>
			<li>
				<a href="{{path("user_address")}}" class="tab">常用地址</a>
			</li>
			<li>
				<a href="#tab6" class="tab">上传身份证</a>
			</li>
                <!-- <li>
                    <a href="#tab7" class="tab">优惠券</a>
                </li> -->
                <li>
                	<a href="{{path("fos_user_change_password")}}" class="tab">修改密码</a>
                </li>
                <li>
                	<a href="#tab9" class="tab">邮件选择</a>
                </li>
            </ul>

            <!--best pros-->
            {% include 'Widget/bestPro.html.twig' %} 

        </div>
        <div class="col-xs-9 page-right">
        	<div class="page-content">
        	{% block fos_user_content %}      		
        		{% endblock fos_user_content %}  	
        </div>
    </div>
 </div>

    {% endblock %}


{% block javascripts %}
        <script src="{{ asset('js/user.js') }}"></script>
    {% endblock %}
