{% extends 'Admin/admin_layout.html.twig' %}



{% block body %}
    <section id="content">
  <section class="vbox">
    <header class="header bg-light b-b">
        <p><strong>评论</strong></p>
    </header>
   <section class="scrollable padder">

   <div class="form">

         <div> <label>评论ID：</label> {{ entity.id }}</div>
        <div> <label>评论内容：</label> {{ entity.text}}</div>
       <div> <label>回复内容：</label> {{ entity.reply}}</div>
       <div> <label>评论时间：</label> {{ entity.commentAt|date("Y/m/d H:i:s")}}</div>
       <div> <label>评论星级：</label> {{ entity.star}}</div>



     <div class="admin-buttons">
        <a href="{{ path('admin_comment') }}">返回</a>
        <a href="{{ path('admin_comment_edit', { 'id': entity.id }) }}">编辑</a>
      </div>

 </section>
</section>
</section>



{% endblock %}
