{% extends 'layout_main.html.twig' %}

{% block body %}
    <div class="row no-border">
        <div class="col-xs-3 siderbar">
            {{ render(controller('AppBundle:Widget/Menu:index')) }}
            {{ render(controller('AppBundle:Widget/Default:brandList')) }}
            {{ render(controller('AppBundle:Widget/Default:discountPro')) }}
            {{ render(controller('AppBundle:Widget/Default:bestPro')) }}
            {{ render(controller('AppBundle:Widget/Default:postFee')) }}
        </div>
        <div class="col-xs-9 no-padding slider-part page-right">
            <div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                   
                     <!-- <div class="item active">
                         <a href="/p/1605">
                            <img class="lazy" data-original="{{ asset('img/sliders/kawa.jpg') }}" src="{{ asset('img/default2.jpg') }}">

                            <div class="carousel-caption">
                                <h4>咔哇熊Cowala</h4>
                                <p>促销价:NZ$107.00</p>
                            </div>
                        </a>
                    </div> -->
                    
                    <div class="item active" >
                        <a href="#">
                            <img class="lazy" data-original="{{ asset('img/sliders/slide01.jpg') }}" src="{{ asset('img/default2.jpg') }}">
                        </a>
                    </div>

                    <div class="item">
                        <a href="#">
                            <img class="lazy" data-original="{{ asset('img/sliders/slide02.jpg') }}" src="{{ asset('img/default2.jpg') }}">
                        </a>
                    </div>

                    <div class="item">
                        <a href="#">
                            <img class="lazy" data-original="{{ asset('img/sliders/slide03.jpg') }}" src="{{ asset('img/default2.jpg') }}">
                        </a>
                    </div>

                    <div class="item">
                        <a href="#">
                            <img class="lazy" data-original="{{ asset('img/sliders/slide04.jpg') }}" src="{{ asset('img/default2.jpg') }}">
                        </a>
                    </div>

                    <div class="item">
                        <a href="#">
                            <img class="lazy" data-original="{{ asset('img/sliders/slide05.jpg') }}" src="{{ asset('img/default2.jpg') }}">
                        </a>
                    </div>

                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <i class="fa fa-chevron-left"></i>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <i class="fa fa-chevron-right"></i>
                </a>
            </div>
            {{ render(controller('AppBundle:Widget/Default:index')) }}
            {{ render(controller('AppBundle:Widget/Default:brand')) }}
        </div>
    </div>
{% endblock %}
