{% extends 'Admin/admin_layout.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('js/datatables/datatables.css') }}" type="text/css"/>
{% endblock %}

{% block adminOrder %}
    <li class="active">
        <a href="#" class="auto">
            <span class="pull-right text-muted">
                <i class="i i-circle-sm-o text"></i>
                <i class="i i-circle-sm text-active"></i>
            </span>
            <i class="i i-stack icon">
            </i>
            <span class="font-bold">订单管理</span>
        </a>
        <ul class="nav dk">
            <li>
                <a href="{{ path('admin_order') }}" class="auto">
                    <i class="i i-dot"></i>

                    <span>订单列表</span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_order_new') }}" class="auto">
                    <i class="i i-dot"></i>

                    <span>添加订单</span>
                </a>
            </li>
        </ul>
    </li>
{% endblock %}

{% block body %}

    <section id="content">
        <section class="vbox">
            <header class="header bg-light b-b">
                <p><strong>评论列表</strong></p>
            </header>
            <section class="scrollable padder">

                <section class="panel panel-default">
                    <div class="table-responsive">
                        <div class="dataTables_wrapper" role="grid">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="dataTables_length">
                                        <a class="dropdown open">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                               aria-expanded="true">
                                                每页显示 <b class="caret"></b>
                                            </a>
                                            <ul class="dropdown-menu animated fadeInRight">
                                                <li>
                                                    <span class="arrow top"></span>
                                                    <a href="{{ path('admin_order',{item_no : 20}) }}">20行</a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('admin_order',{item_no : 40}) }}">40行</a>
                                                </li>

                                                <li>
                                                    <a href="{{ path('admin_order',{item_no : 60}) }}">60行</a>
                                                </li>
                                            </ul>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="dataTables_filter" id="example_filter">
                                        <form action="{{ path('admin_order') }}" method="get"><label>搜索 <input
                                                        type="text" aria-controls="example" name="keys"
                                                        value="{{ app.request.get('keys') }}">
                                            </label></form>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped m-b-none dataTable">
                                <thead>
                                <tr role="row">
                                    {% if not app.request.get('sort') or app.request.get('sort') == 9 %}
                                        <th class="sorting_asc">
                                            <a href="{{ path('admin_order',{sort:10, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">ID</a>
                                        </th>
                                    {% elseif app.request.get('sort') == 10 %}
                                        <th class="sorting_desc">
                                            <a href="{{ path('admin_order',{sort:9, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">ID</a>
                                        </th>
                                    {% else %}
                                        <th class="sorting">
                                            <a href="{{ path('admin_order',{sort:9, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">ID</a>
                                        </th>
                                    {% endif %}
                                    {% if not app.request.get('sort') or app.request.get('sort') == 2 %}
                                        <th class="sorting_asc">
                                            <a href="{{ path('admin_order',{sort:3, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">订单号</a>
                                        </th>
                                    {% elseif app.request.get('sort') == 3 %}
                                        <th class="sorting_desc">
                                            <a href="{{ path('admin_order',{sort:2, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">订单号</a>
                                        </th>
                                    {% else %}
                                        <th class="sorting">
                                            <a href="{{ path('admin_order',{sort:2, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">订单号</a>
                                        </th>
                                    {% endif %}
                                    {% if not app.request.get('sort') or app.request.get('sort') == 4 %}
                                        <th class="sorting_asc">
                                            <a href="{{ path('admin_order',{sort:5, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">订单状态</a>
                                        </th>
                                    {% elseif app.request.get('sort') == 5 %}
                                        <th class="sorting_desc">
                                            <a href="{{ path('admin_order',{sort:4, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">订单状态</a>
                                        </th>
                                    {% else %}
                                        <th class="sorting">
                                            <a href="{{ path('admin_order',{sort:4, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">订单状态</a>
                                        </th>
                                    {% endif %}
                                    {% if not app.request.get('sort') or app.request.get('sort') == 7 %}
                                        <th class="sorting_asc">
                                            <a href="{{ path('admin_order',{sort:8, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">总价</a>
                                        </th>
                                    {% elseif app.request.get('sort') == 8 %}
                                        <th class="sorting_desc">
                                            <a href="{{ path('admin_order',{sort:7, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">总价</a>
                                        </th>
                                    {% else %}
                                        <th class="sorting">
                                            <a href="{{ path('admin_order',{sort:7, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">总价</a>
                                        </th>
                                    {% endif %}
                                    {% if not app.request.get('sort') or app.request.get('sort') == 11 %}
                                        <th class="sorting_asc">
                                            <a href="{{ path('admin_order',{sort:12, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">下单时间</a>
                                        </th>
                                    {% elseif app.request.get('sort') == 12 %}
                                        <th class="sorting_desc">
                                            <a href="{{ path('admin_order',{sort:11, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">下单时间</a>
                                        </th>
                                    {% else %}
                                        <th class="sorting">
                                            <a href="{{ path('admin_order',{sort:11, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">下单时间</a>
                                        </th>
                                    {% endif %}

                                    <th>
                                        支付时间
                                    </th>

                                    <th>
                                        运费
                                    </th>

                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                {% for entity in data.orders %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('admin_order_show', { 'id': entity.id }) }}">{{ entity.id }}</a>
                                        </td>
                                        <td>
                                            {{ entity.order_id }}
                                        </td>
                                        <td>
                                            {% if entity.status == 0 %}
                                                未付款
                                            {% elseif entity.status == 1 %}
                                                待发货
                                            {% elseif entity.status == 2 %}
                                                已发货
                                            {% elseif entity.status == 3 %}
                                                已收货
                                            {% elseif entity.status == 4 %}
                                                已取消
                                            {% endif %}
                                        </td>

                                        <td>{{ entity.total_price }}</td>

                                        <td>{{ entity.create_at|date("Y/m/d H:i:s") }}</td>
                                        <td>{{ entity.paid_at|date("Y/m/d H:i:s") }}</td>

                                        <td>{{ entity.post_fee }}</td>

                                        <td>
                                            <a href="{{ path('admin_order_edit', { 'id': entity.id }) }}">编辑</a>
                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="dataTables_info" id="DataTables_Table_0_info">Showing 1
                                        to {{ data.total_page }} of {{ data.total_no }} entries
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="dataTables_paginate paging_full_numbers select-page-number"
                                         id="DataTables_Table_0_paginate">
                                        <a tabindex="0" class="first paginate_button paginate_button_disabled"
                                           id="DataTables_Table_0_first"
                                           href="{{ path('admin_order',{sort:app.request.get('sort'), item_no:app.request.get('item_no'),page:1,keys:app.request.get('keys')}) }}">首页</a>
                                        <a tabindex="0" class="previous paginate_button paginate_button_disabled"
                                           id="DataTables_Table_0_previous"
                                           href="{{ path('admin_order',{sort:app.request.get('sort'), item_no:app.request.get('item_no'),page:(app.request.get('page')) ? app.request.get('page')-1 : 2,keys:app.request.get('keys')}) }}">上一页</a>
                                        <span>
                                          {% for i in 1..data.total_page %}
                                              <a tabindex="0" href="{{ path('admin_order', {
                                                  keys : app.request.get('keys'),
                                                  page : i,
                                                  sort : app.request.get('sort'),
                                                  item_no: app.request.get('item_no')
                                              }) }}" {% if not app.request.get('page') and i == 1 %} class="paginate_active paginate_button" {% elseif i == app.request.get('page') %} class="paginate_active paginate_button" {% else %} class="paginate_button" {% endif %}> {{ i }}</a>
                                          {% endfor %}
                                        </span>
                                        <a tabindex="0" class="next paginate_button" id="DataTables_Table_0_next"
                                           href="{{ path('admin_order',{sort:app.request.get('sort'), item_no:app.request.get('item_no'),page:(app.request.get('page')) ? app.request.get('page')+1 : 2,keys:app.request.get('keys')}) }}">下一页</a>
                                        <a tabindex="0" class="last paginate_button" id="DataTables_Table_0_last"
                                           href="{{ path('admin_order',{sort:app.request.get('sort'), item_no:app.request.get('item_no'),page:data.total_page,keys:app.request.get('keys')}) }}">末页</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </section>
        <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
    </section>

{% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/datatables/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('js/datatables/jquery.csv-0.71.min.js') }}"></script>
        <script src="{{ asset('js/pagination.js') }}"></script>
    {% endblock %}