{% extends 'Admin/admin_layout.html.twig' %}


{% block adminProduct %}
	<li class="active">
		<a href="#" class="auto">
	<span class="pull-right text-muted">
	  <i class="i i-circle-sm-o text"></i>
	  <i class="i i-circle-sm text-active"></i>
	</span>
			<i class="i i-t-shirt icon">
			</i>
			<span class="font-bold">商品管理</span>
		</a>
		<ul class="nav dk">
			<li>
				<a href="{{ path('admin_product') }}" class="auto">
					<i class="i i-dot"></i>
					<span>商品列表</span>
				</a>
			</li>
			<li>
				<a href="{{ path('admin_product_new') }}" class="auto">
					<i class="i i-dot"></i>
					<span>添加商品</span>
				</a>
			</li>
			<li class="active">
				<a href="{{ path('admin_product_manage_by_excel') }}" class="auto">
					  <span class="pull-right text-muted">
						<i class="i i-circle-sm-o text"></i>
						<i class="i i-circle-sm text-active"></i>
					  </span>
					<i class="i i-dot"></i>
					<span>批量管理</span>
				</a>
			</li>
		</ul>
	</li>


{% endblock %}

  {% block body %}
	  <section id="content">
		  <section class="vbox">
			  <header class="header bg-light b-b">
				  <p><strong>批量管理</strong></p>
			  </header>


		  </section>
	  </section>
  {% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/SimpleAjaxUploader.js') }}"></script>
	<script src="{{ asset('js/admin-product.js') }}"></script>
{% endblock %}
