{% extends 'Admin/admin_layout.html.twig' %}

{% block stylesheets %}
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="/js/jQuery-File-Upload/css/jquery.fileupload.css">
<link rel="stylesheet" href="/css/manage_by_excel.html.twig.css">
<link rel="stylesheet" href="/js/datatables/datatables.css">
{% endblock %}


{% block javacript_in_head_section %}
<script src="{{ asset('/js/xlsx.js') }}"></script>
{% endblock %}

{% block adminProduct %}
<li class="active">
	<a href="#" class="auto">
		<span class="pull-right text-muted">
		  <i class="i i-circle-sm-o text"></i>
		  <i class="i i-circle-sm text-active"></i>
		</span>
		<i class="i i-t-shirt icon"></i>
		<span class="font-bold">商品管理</span>
	</a>
	<ul class="nav dk">
		<li>
			<a href="{{ path('admin_product') }}" class="auto">
				<i class="i i-dot"></i><span>商品列表</span>
			</a>
		</li>
		<li>
			<a href="{{ path('admin_product_new') }}" class="auto">
				<i class="i i-dot"></i><span>添加商品</span>
			</a>
		</li>
		<li class="active">
			<a href="{{ path('admin_product_manage_by_excel') }}" class="auto">
				<span class="pull-right text-muted">
					<i class="i i-circle-sm-o text"></i>
					<i class="i i-circle-sm text-active"></i>
				</span>
				<i class="i i-dot"></i><span>批量管理</span>
			</a>
		</li>
	</ul>
</li>
{% endblock %}


{% block body %}
<section id="content">
    <section class="vbox">
        <section class="scrollable padder"> 
            <div class="container">
                <div class="panel panel-default">
                	<div id="drop">拖拽批量管理Excel文件 (.xlsx或.xls) 至本区域.</div>
                    <!-- <div class="panel-heading">
                        <h3 class="panel-title">Notes</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>The maximum file size for uploads in this demo is <strong>999 KB</strong>.</li>
                            <li>Only excel files (<strong>.xls</strong> and <strong>.xlsx</strong>, and <strong>.csv</strong>) are allowed.</li>
                            <li>Uploaded files will be deleted automatically after <strong>5 minutes or less</strong></li>
                        </ul>
                    </div> -->
                </div>
                <div>
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>选择批量管理Excel文件...</span>
                    <!-- The file input field used as target for the file upload widget -->
                    <input id="fileupload" type="file" name="files[]" multiple>
                </span>
                <br>
                    <!-- The global progress bar -->
                    <div id="progress" class="progress">
                        <div class="progress-bar progress-bar-success"></div>
                    </div>

                    <!-- The Anslysis progress bar -->
                    <div id="analysis_progress" class="progress">
                        <div class="progress-bar progress-bar-success"></div>
                    </div>
                    <!-- The container for the uploaded files -->
                    <div id="files" class="files"></div>
                </div>
            </div>
            <section class="panel panel-default">
                <div class="table-responsive">
                    <div class="dataTables_wrapper" role="grid">
                        <table class="table table-striped m-b-none dataTable">
                                <thead>
                                <tr role="row">
                                    {% if not app.request.get('sort') or app.request.get('sort') == 7 %}
                                        <th class="sorting_asc"><a
                                                    href="{{ path('admin_product_manage_by_excel',{sort:8, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">ID</a>
                                        </th>
                                    {% elseif app.request.get('sort') == 8 %}
                                        <th class="sorting_desc"><a
                                                    href="{{ path('admin_product_manage_by_excel',{sort:7, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">ID</a>
                                        </th>
                                    {% else %}
                                        <th class="sorting"><a
                                                    href="{{ path('admin_product_manage_by_excel',{sort:7, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">ID</a>
                                        </th>
                                    {% endif %}
                                    {% if app.request.get('sort') == 9 %}
                                        <th class="sorting_asc"><a
                                                    href="{{ path('admin_product_manage_by_excel',{sort:10, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">名称</a>
                                        </th>
                                    {% elseif app.request.get('sort') == 10 %}
                                        <th class="sorting_desc"><a
                                                    href="{{ path('admin_product_manage_by_excel',{sort:9, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">名称</a>
                                        </th>
                                    {% else %}
                                        <th class="sorting"><a
                                                    href="{{ path('admin_product_manage_by_excel',{sort:9, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">名称</a>
                                        </th>
                                    {% endif %}
                                    {% if app.request.get('sort') == 2 %}
                                        <th class="sorting_asc"><a
                                                    href="{{ path('admin_product_manage_by_excel',{sort:3, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">原价</a>
                                        </th>
                                    {% elseif app.request.get('sort') == 3 %}
                                        <th class="sorting_desc"><a
                                                    href="{{ path('admin_product_manage_by_excel',{sort:2, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">原价</a>
                                        </th>
                                    {% else %}
                                        <th class="sorting"><a
                                                    href="{{ path('admin_product_manage_by_excel',{sort:2, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">原价</a>
                                        </th>
                                    {% endif %}
                                    {% if app.request.get('sort') == 11 %}
                                        <th class="sorting_asc"><a
                                                    href="{{ path('admin_product_manage_by_excel',{sort:12, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">折后价格</a>
                                        </th>
                                    {% elseif app.request.get('sort') == 12 %}
                                        <th class="sorting_desc"><a
                                                    href="{{ path('admin_product_manage_by_excel',{sort:11, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">折后价格</a>
                                        </th>
                                    {% else %}
                                        <th class="sorting"><a
                                                    href="{{ path('admin_product_manage_by_excel',{sort:11, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">折后价格</a>
                                        </th>
                                    {% endif %}
                                    {% if app.request.get('sort') == 13 %}
                                        <th class="sorting_asc"><a
                                                    href="{{ path('admin_product_manage_by_excel',{sort:6, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">浏览次数</a>
                                        </th>
                                    {% elseif app.request.get('sort') == 6 %}
                                        <th class="sorting_desc"><a
                                                    href="{{ path('admin_product_manage_by_excel',{sort:13, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">浏览次数</a>
                                        </th>
                                    {% else %}
                                        <th class="sorting"><a
                                                    href="{{ path('admin_product_manage_by_excel',{sort:13, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">浏览次数</a>
                                        </th>
                                    {% endif %}
                                    {% if app.request.get('sort') == 15 %}
                                        <th class="sorting_asc"><a
                                                    href="{{ path('admin_product_manage_by_excel',{sort:16, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">库存</a>
                                        </th>
                                    {% elseif app.request.get('sort') == 16 %}
                                        <th class="sorting_desc"><a
                                                    href="{{ path('admin_product_manage_by_excel',{sort:15, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">库存</a>
                                        </th>
                                    {% else %}
                                        <th class="sorting"><a
                                                    href="{{ path('admin_product_manage_by_excel',{sort:15, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">库存</a>
                                        </th>
                                    {% endif %}
                                    {% if app.request.get('sort') == 14 %}
                                        <th class="sorting_asc"><a
                                                    href="{{ path('admin_product_manage_by_excel',{sort:4, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">销售</a>
                                        </th>
                                    {% elseif app.request.get('sort') == 4 %}
                                        <th class="sorting_desc"><a
                                                    href="{{ path('admin_product_manage_by_excel',{sort:14, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">销售</a>
                                        </th>
                                    {% else %}
                                        <th class="sorting"><a
                                                    href="{{ path('admin_product_manage_by_excel',{sort:14, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">销售</a>
                                        </th>
                                    {% endif %}
                                    {% if app.request.get('sort') == 17 %}
                                        <th class="sorting_asc"><a
                                                    href="{{ path('admin_product_manage_by_excel',{sort:18, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">权重</a>
                                        </th>
                                    {% elseif app.request.get('sort') == 18 %}
                                        <th class="sorting_desc"><a
                                                    href="{{ path('admin_product_manage_by_excel',{sort:17, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">权重</a>
                                        </th>
                                    {% else %}
                                        <th class="sorting"><a
                                                    href="{{ path('admin_product_manage_by_excel',{sort:17, item_no:app.request.get('item_no'),page:app.request.get('page'),keys:app.request.get('keys')}) }}">权重</a>
                                        </th>
                                    {% endif %}
                                    <th>状态</th>
                                </tr>
                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    {% for entity in data.products %}
                                    <tr id="{{entity.id}}">
                                        <td id="{{entity.id}}_entity_id">
                                            <a href="{{ path('admin_product_show', { 'id': entity.id }) }}">{{ entity.id }}</a>
                                        </td>
                                        <td id="{{entity.id}}_entity_name">
                                            {% if entity.name|length > 30 %}
                                                <span title="{{ entity.name }}">{{ entity.name|slice(0, 30) }}...</span>
                                            {% else %}
                                                <span title="{{ entity.name }}">{{ entity.name }}</span>
                                            {% endif %}
                                        </td>
                                        <td id="{{entity.id}}_entity_price">{{ entity.price }}</td>

                                        <td id="{{entity.id}}_entity_pricediscounted">{{ entity.priceDiscounted }}</td>

                                        <td id="{{entity.id}}_entity_click">{{ entity.click }}</td>

                                        <td id="{{entity.id}}_entity_inventory">{{ entity.inventory }}</td>

                                        <td id="{{entity.id}}_entity_soldno">{{ entity.soldNo }}</td>

                                        <td id="{{entity.id}}_entity_weight">
                                            {% if entity.widget_weight %}
                                                {{ entity.widget_weight }}
                                            {% else %}
                                                0
                                            {% endif %}
                                        </td>
                                        <td id="{{entity.id}}_status">
                                                
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                        </table>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="dataTables_info" id="DataTables_Table_0_info">Page 1
                                        of <strong>{{ data.total_page }}</strong>  &nbsp; <i class="glyphicon glyphicon-transfer"></i>  &nbsp;  Total: <strong>{{ data.total_no }}</strong> entries 
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="dataTables_paginate paging_full_numbers select-page-number" id="DataTables_Table_0_paginate">
                                {% if data.total_page > 1 %}
                                    <a tabindex="0" class="first paginate_button paginate_button_disabled"
                                           id="DataTables_Table_0_first"
                                           href="{{ path('admin_product_manage_by_excel',{sort:app.request.get('sort'), item_no:app.request.get('item_no'),page:1,keys:app.request.get('keys')}) }}">首页</a>
                                    <a tabindex="0" class="previous paginate_button paginate_button_disabled"
                                           id="DataTables_Table_0_previous"
                                           href="{{ path('admin_product_manage_by_excel',{sort:app.request.get('sort'), item_no:app.request.get('item_no'),page:(app.request.get('page')) ? app.request.get('page')-1 : 2,keys:app.request.get('keys')}) }}">上一页</a>
                                    <span>
                                      {% for i in 1..data.total_page %}
                                          <a tabindex="0" href="{{ path('admin_product_manage_by_excel', {
                                              keys : app.request.get('keys'),
                                              page : i,
                                              sort : app.request.get('sort'),
                                              item_no: app.request.get('item_no')
                                          }) }}" {% if not app.request.get('page') and i == 1 %} class="paginate_active paginate_button" {% elseif i == app.request.get('page') %} class="paginate_active paginate_button" {% else %} class="paginate_button" {% endif %}> {{ i }}</a>
                                      {% endfor %}
                                    </span>
                                    <a tabindex="0" class="next paginate_button" id="DataTables_Table_0_next"
                                           href="{{ path('admin_product_manage_by_excel',{sort:app.request.get('sort'), item_no:app.request.get('item_no'),page:(app.request.get('page')) ? app.request.get('page')+1 : 2,keys:app.request.get('keys')}) }}">下一页</a>
                                    <a tabindex="0" class="last paginate_button" id="DataTables_Table_0_last"
                                           href="{{ path('admin_product_manage_by_excel',{sort:app.request.get('sort'), item_no:app.request.get('item_no'),page:data.total_page,keys:app.request.get('keys')}) }}">末页</a>
                                {% else %}
                                    <a tabindex="0" class="last paginate_button" id="DataTables_Table_0_last" disabled><strong>1</strong></a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
        </section>
    </section>
</section>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('/js/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('/js/datatables/jquery.csv-0.71.min.js') }}"></script>
<script src="{{ asset('/js/pagination.js') }}"></script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="/js/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="/js/jQuery-File-Upload/js/load-image.all.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="/js/jQuery-File-Upload/js/canvas-to-blob.min.js"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
<script src="/js/bootstrap.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="/js/jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="/js/jQuery-File-Upload/js/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="/js/jQuery-File-Upload/js/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="/js/jQuery-File-Upload/js/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin -->
<script src="/js/jQuery-File-Upload/js/jquery.fileupload-audio.js"></script>
<!-- The File Upload video preview plugin -->
<script src="/js/jQuery-File-Upload/js/jquery.fileupload-video.js"></script>
<!-- The File Upload validation plugin -->
<script src="/js/jQuery-File-Upload/js/jquery.fileupload-validate.js"></script>

<script src="/js/js-xlsx/shim.js"></script>
<script src="/js/js-xlsx/jszip.js"></script>
<script src="/js/js-xlsx/xlsx.js"></script>
<!-- uncomment the next line here and in xlsxworker.js for ODS support -->
<script src="/js/js-xlsx/dist/ods.js"></script>

<!-- Detailed Logic of the Manage_by_Excel Page. -->
<script src="/js/manage_by_excel.js"></script>
{% endblock %}
