{% extends 'Admin/admin_layout.html.twig' %}

{% block body -%}
<section id="content">
  <section class="vbox">
    <header class="header bg-light b-b">
        <p>修改商品</p>
    </header>
   <section class="scrollable padder">

   <div class="form">
   {{ form_start(form) }}
     <div> <label>名称</label> {{form_widget(form.name)}}</div>
     <div> <label>原价</label> {{form_widget(form.price)}}</div>
     <div> <label>折后价格</label> {{form_widget(form.price_discounted)}}</div>
     <div> {{form_label(form.viewed_count)}} {{form_widget(form.viewed_count)}}</div>
     <div> {{form_label(form.soldNo)}} {{form_widget(form.soldNo)}}</div>
     <div> {{form_label(form.inventory)}} {{form_widget(form.inventory)}}</div>
     <div> {{form_label(form.click)}} {{form_widget(form.click)}}</div>
     <div> {{form_label(form.description)}} {{form_widget(form.description)}}</div>
     <div> {{form_label(form.status)}} {{form_widget(form.status)}}</div>
     <div> <label>分类</label> {{form_widget(form.category)}}</div>
     <div> {{form_label(form.brand)}} {{form_widget(form.brand)}}</div>
     <div> {{form_label(form.weight)}} {{form_widget(form.weight)}}</div>
     <div> {{form_label(form.productKey)}} {{form_widget(form.productKey)}}</div>
     <div style="display: none;">{{form_widget(form.imageLink)}}</div>
     <div style="display: none;">{{form_widget(form.poster)}}</div>
     <div>
        <div id="progressBox1"> <label>上传产品封面图片</label><span class="btn btn-primary btn-sm" id="uploadBtn1">选择图片</span></div>
        <div class="info" id="info1"></div><div style="clear: both;"></div>
       <div id="progressBox2"> <label>上传产品描述图片</label><span class="btn btn-primary btn-sm" id="uploadBtn2">选择图片</span></div>
       <div class="info" id="info2"></div><div style="clear: both;"></div>

     {{ form_end(form) }}
     <div class="admin-buttons">
     <a href="{{ path('admin_product') }}">Back</a>

     </div>

   </div>

 </section>
</section>
</section>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('js/SimpleAjaxUploader.js')}}"></script>
    <script src="{{asset('js/admin-product.js')}}"></script>
{% endblock %}