{% extends 'Admin/admin_layout.html.twig' %}

{% block nav %}
    <nav class="nav-primary hidden-xs">
  <div class="text-muted text-sm hidden-nav-xs padder m-t-sm m-b-sm">数据库</div>
  <ul class="nav nav-main" data-ride="collapse">
  <li>
    <a href="{{ path('admin_index') }}" class="auto">
    <i class="i i-statistics icon">
    </i>
    <span class="font-bold">数据总览</span>
    </a>
  </li>
  <li class="active">
    <a href="#" class="auto">
    <span class="pull-right text-muted">
      <i class="i i-circle-sm-o text"></i>
      <i class="i i-circle-sm text-active"></i>
    </span>
    <i class="i i-t-shirt icon">
    </i>
    <span class="font-bold">商品管理</span>
    </a>
    <ul class="nav dk">
    <li>
      <a href="{{ path('admin_product') }}" class="auto">                                                        
      <i class="i i-dot"></i>

      <span>商品列表</span>
      </a>
    </li>
    <li>
      <a href="{{ path('admin_product_new') }}" class="auto">
          
      <i class="i i-dot"></i>

      <span>添加商品</span>
      </a>
    </li>
    </ul>
  </li>
  <li >
    <a href="#" class="auto">
    <span class="pull-right text-muted">
      <i class="i i-circle-sm-o text"></i>
      <i class="i i-circle-sm text-active"></i>
    </span>
    <i class="i i-flow-tree icon">
    </i>
    <span class="font-bold">分类管理</span>
    </a>
    <ul class="nav dk">
    <li >
      <a href="buttons.html" class="auto">                                                        
      <i class="i i-dot"></i>

      <span>分类列表</span>
      </a>
    </li>
    <li >
      <a href="icons.html" class="auto">
      <i class="i i-dot"></i>

      <span>添加分类</span>
      </a>
    </li>
    
    </ul>
  </li>
  <li >
    <a href="#" class="auto">
    <i class="i  i-users3 icon">
    </i>
    <span class="font-bold">用户管理</span>
    </a>
  </li>
  <li >
    <a href="#" class="auto">
    <i class="i i-stack icon">
    </i>
    <span class="font-bold">订单管理</span>
    </a>
  </li>
            <li >
              <a href="#" class="auto">
                <i class="fa fa-dollar">
                </i>
                <span class="font-bold">付款明细</span>
              </a>
            </li>
            <li >
              <a href="#" class="auto">
                <i class="i i-book icon">
                </i>
                <span class="font-bold">地址管理</span>
              </a>
            </li>
            <li >
              <a href="#" class="auto">
                <i class="fa fa-comment-o icon">
                </i>
                <span class="font-bold">评论管理</span>
              </a>
            </li>
  </ul>
  <div class="line dk hidden-nav-xs"></div>
  <div class="text-muted text-xs hidden-nav-xs padder m-t-sm m-b-sm">网站资源</div>
  <ul class="nav">
  <li >
              <a href="#" class="auto">
                <i class="fa fa-file-image-o">
                </i>
                <span class="font-bold">图片管理</span>
              </a>
            </li>
            <li >
              <a href="#" class="auto">
                <i class="i i-vcard icon">
                </i>
                <span class="font-bold">身份证管理</span>
              </a>
            </li>
  </ul>
  
</nav>
{% endblock %}

{% block body -%}
    <h1>Product</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ entity.price }}</td>
            </tr>
            <tr>
                <th>Price_discounted</th>
                <td>{{ entity.pricediscounted }}</td>
            </tr>
            <tr>
                <th>Viewed_count</th>
                <td>{{ entity.viewedcount }}</td>
            </tr>
            <tr>
                <th>Soldno</th>
                <td>{{ entity.soldNo }}</td>
            </tr>
            <tr>
                <th>Inventory</th>
                <td>{{ entity.inventory }}</td>
            </tr>
            <tr>
                <th>Click</th>
                <td>{{ entity.click }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Updateat</th>
                <td>{{ entity.updateAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Poster</th>
                <td>{{ entity.poster }}</td>
            </tr>

            <tr>
                <th>Brand</th>
                <td>{{ entity.brand }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ entity.weight }}</td>
            </tr>
            <tr>
                <th>Productkey</th>
                <td>{{ entity.productKey }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_product') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_product_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
