{% extends 'Admin/admin_layout.html.twig' %}

{% block adminCategory %}
    <li class="active">
        <a href="#" class="auto">
            <span class="pull-right text-muted">
                <i class="i i-circle-sm-o text"></i>
                <i class="i i-circle-sm text-active"></i>
            </span>
            <i class="i i-flow-tree icon">
            </i>
            <span class="font-bold">分类管理</span>
        </a>
        <ul class="nav dk">
            <li class="active">
                <a href="{{path('admin_category')}}" class="auto">

                    <i class="i i-dot"></i>

                    <span>分类列表</span>
                </a>
            </li>
            <li >
                <a href="{{path('admin_category_new')}}" class="auto">
                    <i class="i i-dot"></i>

                    <span>添加分类</span>
                </a>
            </li>

        </ul>
    </li>
{% endblock %}

{% block body -%}

<section id="content">
    <section class="vbox">
        <section class="scrollable padder">
            <header class="header bg-light b-b">
            <p>分类: {{ entity.name }}</p>
        </header>

        <section class="scrollable wrapper">
            <div>{{ entity.name }}</div>
            <div><a href="{{path('admin_category_edit', {id:entity.id})}}">编辑</a></div>
            <div><a href="{{path('admin_category')}}">返回列表</a></div>
        </section>
        </section>
    </section>
</section>

{% endblock %}