{% extends 'FOSUserBundle::layout.html.twig' %}

{% block title %}登录{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/login.css') }}" type="text/css">
{% endblock %}

{% block subtitle %}账户登录{% endblock subtitle %}

{% block body %}
{% if error %}
    <div class="bg-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
     <div class="container-login-responsive login">
     <div class="login-left col-xs-5">
        <a class="logo" href="{{ path('homepage') }}">
            <img class="lazy" src="{{ asset(random(['img/aptami.jpg', 'img/honey.jpg', 'img/honey2.jpg' ,'img/blackmores.jpg', 'img/artemis.jpg', 'img/manukablendhoney.jpg', 'img/milkchews.jpg', 'img/royalnectar.jpg', 'img/swisse.jpg'])) }}" data-original="{{ asset(random(['img/aptami.jpg', 'img/honey.jpg', 'img/honey2.jpg' ,'img/blackmores.jpg', 'img/artemis.jpg', 'img/manukablendhoney.jpg', 'img/milkchews.jpg', 'img/royalnectar.jpg', 'img/swisse.jpg'])) }}" alt="丰盛湾">
        </a>
    </div>

    <div class="login-content col-xs-4">
        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div class="controls">
                <label>邮箱：</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                <i class="fa check-icon"></i>
                <div class="error">
                    <i class="fa fa-caret-left"></i>
                    <h6>邮箱不能为空</h6>
                </div>
            </div>
            <div class="controls">
                <label>密码：</label>
                <input type="password" id="password" name="_password" required="required" />
                <i class="fa check-icon"></i>
                <div class="error">
                    <i class="fa fa-caret-left"></i>
                    <h6>密码不能为空</h6>
                </div>
            </div>
            <div class="controls-link login-button">
                <input type="submit" id="_submit" name="_submit" value="登录" />
                <div class="pull-right">
               <!--  <input type="checkbox" id="remember_me" name="_remember_me" value="on" />自动登录</div> -->
            </div>
        </form>
        <hr>
        <div class="controls-link register">
            <div class="pull-right"><a href="{{path('fos_user_registration_register')}}">注册新帐号</a></div>
            <div class="pull-left"><a href="{{path("fos_user_resetting_request")}}">找回密码</a></div>
        </div>

        <div class="social-network">
            <!-- <a href="www.qq.com"><i class="fa fa-qq"> QQ</i></a>
            <a href="www.sina.com"><i class="fa fa-weibo"> 微博</i></a>
            <a href="weixin.qq.com"><i class="fa fa-weixin"> 微信</i></a> -->
        </div>
        
    </div>
</div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/register.js') }}"></script>
{% endblock %}