{% extends 'layout_main.html.twig' %}

{% block title %}用户{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user.css') }}" type="text/css">
{% endblock %}

 {% block header %} 
        <div id="sub-navbar" class="sub-nav user-sub-nav">
                <div class="nav-all">
                    <a href="{{ path('category') }}">全部商品分类</a>
                    <i class="fa fa-chevron-down"></i>
                    <div id="siderbar">
                        {{ render(controller('AppBundle:Widget/Menu:index')) }}
                    </div>
                </div>
                <div class="nav-right">
                    <div class="navbar-search user-top-search">
                            <form action="{{ path('search') }}" method="get"  onsubmit="">
                                 <input type="text" id="keys" name="keys" lang="zh-CN" placeholder="搜索产品..." class="search-query" value="{{ app.request.get('keys') }}">
                                 <input type="submit" value="搜索">
                            </form>
                    </div>
                </div>
                <div class="user-nav-right">
                    <div class="cart-wrapper user-top-cart">
                        <a class="cart" href="{{ path('cart') }}">
                            <img src="{{ asset('img/cart.gif') }}">
                            <span>&nbsp;购物车 &nbsp;</span>
                        </a>
                        <div class="clear"></div>
                        <div class="cart-list">
                            <i class="cart-block-row"></i>
                            <div class="item">
                                <div class="cart-image">
                                   <img class="lazy" src="{{ asset(random(['img/aptami.jpg', 'img/honey.jpg', 'img/honey2.jpg' ,'img/blackmores.jpg', 'img/artemis.jpg', 'img/manukablendhoney.jpg', 'img/milkchews.jpg', 'img/royalnectar.jpg', 'img/swisse.jpg'])) }}" data-original="{{ asset(random(['img/aptami.jpg', 'img/honey.jpg', 'img/honey2.jpg' ,'img/blackmores.jpg', 'img/artemis.jpg', 'img/manukablendhoney.jpg', 'img/milkchews.jpg', 'img/royalnectar.jpg', 'img/swisse.jpg'])) }}" alt="">
                                </div>
                                <div class="nav-cart-content">
                                    <h5>麦卢卡蜂蜜</h5>
                                    <span><strong>$2000.00</strong></span>
                                    <span>×20</span>
                                    <span class="remove"><a href="#">删除</a></span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="cart-image">
                                   <img class="lazy" src="{{ asset(random(['img/aptami.jpg', 'img/honey.jpg', 'img/honey2.jpg' ,'img/blackmores.jpg', 'img/artemis.jpg', 'img/manukablendhoney.jpg', 'img/milkchews.jpg', 'img/royalnectar.jpg', 'img/swisse.jpg'])) }}" data-original="{{ asset(random(['img/aptami.jpg', 'img/honey.jpg', 'img/honey2.jpg' ,'img/blackmores.jpg', 'img/artemis.jpg', 'img/manukablendhoney.jpg', 'img/milkchews.jpg', 'img/royalnectar.jpg', 'img/swisse.jpg'])) }}" alt="">
                                </div>
                                <div class="nav-cart-content">
                                    <h5>麦卢卡蜂蜜</h5>
                                    <span><strong>$220.00</strong></span>
                                    <span>×5</span>
                                    <span class="remove"><a href="#">删除</a></span>
                                </div>
                            </div>
                            <div class="total">
                                <span>共<strong>25</strong>件商品</span>
                                <span>共计<strong>$411.00</strong></span>
                            </div>
                            <form action="{{path('cart')}}" method="get" onsubmit="">
                                <input type="submit"  value="结算">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
  {% endblock %}

{% block body %}

<div id="user-page" class="container-non-responsive">
	<div class="user-left col-xs-3 siderbar">
		<ul class="nav nav-list">
			<li class="active">
				<a href="{{path("fos_user_profile_show")}}">账户管理</a>
                <a href="{{path("user_order")}}">我的订单</a>
			</li>
			<li>
				<a href="{{path("user_address")}}">常用地址</a>
                <a href="{{path("user_id_upload")}}">上传身份证</a>
			</li>
			<li>
				<a href="{{path("user_topup")}}">充值</a>
                <a href="#tab4">消费历史</a>
			</li>
            <li>
                <a href="{{path("fos_user_change_password")}}">修改密码</a>
                <a href="{{path("user_email")}}">邮件选择</a>
            </li>
            </ul>

            <!--best pros-->
            {{ render(controller('AppBundle:Widget/Default:bestPro')) }}

        </div>
        <div class="col-xs-9 page-right">
        	<div class="page-content">
                <div class="page-title">
                    <h4>{% block page_title %}用户信息{% endblock page_title %}</h4>
                </div>
                <div class="user-content">
        	       {% block fos_user_content %}
                     {% include "FOSUserBundle:Profile:show_content.html.twig" %}
        		       {#{{ dump(app.user) }}#}
                   {% endblock fos_user_content %}
                </div>
        </div>
    </div>
 </div>

    {% endblock %}


{% block javascripts %}
        <script src="{{ asset('js/user.js') }}"></script>
    {% endblock %}






