{% extends 'layout_main.html.twig' %}

{% block title %}用户{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user.css') }}" type="text/css">
{% endblock %}

 {% block header %} 
        <div id="sub-navbar" class="sub-nav user-sub-nav">
                <div class="nav-all">
                    <a href="{{ path('category') }}">全部商品分类</a>
                    <i class="fa fa-chevron-down"></i>
                    <div id="siderbar">
                        {{ render(controller('AppBundle:Widget/Menu:index')) }}
                    </div>
                </div>
                <div class="nav-right">
                    <div class="navbar-search user-top-search">
                             <form action="{{ path('search') }}" method="get"  onsubmit="">
                                <select class="search-select">
                                    <option><h6>蜂蜜</h6></option>
                                    <option><h6>蜂胶</h6></option>
                                    <option><h6>鱼油</h6></option>
                                </select>
                                <div class="search-input">
                                    <input type="text" id="keys" name="keys" lang="zh-CN" placeholder="搜索产品..." class="search-query" value="{{ app.request.get('keys') }}">
                                    <i class="fa fa-remove"></i>
                                </div>
                                <div class="search-button">
                                    <input type="submit" value="">
                                    <i class="fa fa-search"></i>
                                </div>
                            </form> 
                    </div>
                </div>
                <div class="user-nav-right">
                    <div class="cart-wrapper user-top-cart" data-path="{{ path('cart_ajax_get') }}"> 
                         {{ render(controller('AppBundle:Widget/Cart:index')) }}
                    </div>
                </div>
            </div>
  {% endblock %}

{% block body %}

<div id="user-page" class="container-non-responsive">
	<div class="user-left col-xs-3 siderbar">
		<ul class="nav nav-list">
			<li class="active">
				<a href="{{path("user_profile")}}">账户管理</a>
                <a href="{{path("user_order")}}">我的订单</a>
			</li>
			<li>
				<a href="{{path("user_address")}}">常用地址</a>
                <a href="{{path("user_id_upload")}}">上传身份证</a>
			</li>
			<li>
				<a href="{{path("user_topup")}}">充值</a>
                <a href="#tab4">消费历史</a>
			</li>
            <li>
                <a href="{{path("fos_user_change_password")}}">修改密码</a>
                <a href="{{path("user_email")}}">邮件选择</a>
            </li>
            </ul>

            <!--best pros-->
            {{ render(controller('AppBundle:Widget/Default:bestPro')) }}

        </div>
        <div class="col-xs-9 page-right">
        	<div class="page-content">
                <div class="page-title">
                    <h4>{% block page_title %}用户信息{% endblock page_title %}</h4>
                </div>
                <div class="user-content">
        	       {% block fos_user_content %}
                     {% include "FOSUserBundle:Profile:show_content.html.twig" %}
        		       {#{{ dump(app.user) }}#}
                   {% endblock fos_user_content %}
                </div>
        </div>
    </div>
 </div>

    {% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/user.js') }}"></script>
    <script src="{{asset('js/SimpleAjaxUploader.js')}}"></script>
    <script src="{{ asset('js/id-upload.js') }}"></script>
{% endblock %}




