{% extends 'layout_main.html.twig' %}

{% block title %}订单确认{% endblock %}

{% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('css/cart.css') }}" type="text/css">
{% endblock %}

{% block body %}
<div class="col-xs-3 siderbar">
    {{ render(controller('AppBundle:Widget/Menu:index')) }}
    <br>
    {{ render(controller('AppBundle:Widget/Default:postFee')) }} 
</div>

<!-- 
<div class="col-xs-9 page-right">
    <div class="page-content" id="cart-page-container">
        <div class="page-title">
            <div class="panel-primary" style="width: 100%">
                <div class="panel-heading panel-heading-no-bottom-border" style="background-color:#95B570; font-size:18px;">  
                    <a href="{{ path('homepage')}}"><i class="fa fa-home" style="font-size: 25px"></i></a>
                            &nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;
                        订单确认
                </div>
            </div>
        </div>

        <div class="cart-tabs">
                <div class="cart-tab">1.查看购物车</div> 
                <div class="cart-tab-arrow"></div>
                <div class="cart-tab">2.填写购物信息</div>
                <div class="cart-tab-arrow"></div>
                <div class="cart-tab active">3.订单生成</div>
        </div>

        <div class="order-confirm-content" style="margin-top: 5px; margin-bottom: 5px;">
         	<h2>恭喜您, 下单成功! </h2>
         	<div class="order-confirm-id">
             	<label>订单号：<a href="{{ path('user_order') }}"><span class="color">{{ order_id }}</span></a> </label>
                <br>
                <label> 人民币：￥{{ order_total * 5 }} <font color="gray">( 纽币：${{ order_total }} )</font></label> 
                <br>   
                <span>转帐时请务必付言订单号后六位</span>
         	</div>
            <hr>
            <div align="center">
                <span> <img src="/img/banks/alipay.png">&nbsp;&nbsp;支付宝账号: 13925082288 </span>
            </div>
            <hr>
            <div align="center">
                 您也可以扫描二维码或条码付款
            </div>
            <div align="center">
                <img src="/img/banks/alipay_personal_temp.jpg" width="150px">
            </div>
            <div align="center">
                自动识别不安全链接，安心付款
            </div>
            <hr>
        </div>

        <div class="product-tab product-tab-update clearfix">
            <img src="{{ asset('img/leaf-green.jpg') }}" alt="logo" class="leaf">
        </div> 
        <div class="tab-contents">
            <div class="tab-content-desc">
                <p>
                <i class="fa fa-pagelines" aria-hidden="true"></i>&nbsp;
                如果对于使用本站服务存有疑问，可查看我们的
                <a href="/terms">
                    <span class="label label-primary" style="font-size:95%; padding-bottom: 3px;padding-left: 3px;padding-right: 3px;padding-top: 3px;">服务条款</span>
                </a>
                或
                <a href="/refundpolicy">
                     <span class="label label-primary" style="font-size:95%; padding-bottom: 3px;padding-left: 3px;padding-right: 3px;padding-top: 3px;">退赔流程</span>
                </a> 
                了解更多详细信息。
                </p>
            </div>
        </div>
    </div>
</div>
-->
{% endblock %}