{% extends 'layout_main.html.twig' %}

{% block title %}购物车{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/cart.css') }}" type="text/css">
{% endblock %}

{% block body %}

    <div id="cart-page" class="container-non-responsive">
        <div class="page-title">
            <h4>购物车</h4>
        </div>

        <div class="page-content">
            <div class="col-xs-12 top-promo">
                <span>如果您有优惠代码，请输入。
                    <input class="" value="">
                    <input type="submit" title="应用优惠券" class="btn-promotion"  value="应用优惠券">
                </span>
            </div>

            <div class="cart-content col-xs-12">               
                <table class="table">
                    <thead>
                        <tr>
                            <th width="50%">商品</th>
                            <th width="10%">单价（纽币）</th>
                            <th width="15%">数量</th>
                            <th width="15%">价格（纽币）</th>
                            <th width="10%">操作</th>
                        </tr>
                    </thead>

                    <tbody>
                        <form action="{{path('checkout')}}" method="post" onsubmit="">
                        {% if data|length > 0 %}
                            {% for cartproduct in data %}
                                <tr>
                                    <td class="product-name">
                                        <input type="checkbox" name="product-id[]" value="{{ cartproduct.product.id }}" />
                                        <img src="{{ asset(random(['img/aptami.jpg', 'img/honey.jpg','img/blackmores.jpg', 'img/artemis.jpg'])) }}"/>
                                        <div class="name-limit"><a href="{{ path('product', { id : cartproduct.product.id }) }}">{{ cartproduct.product.name }}</a></div>
                                    </td>
                                    <td>{{ cartproduct.product.priceDiscounted }}</td>
                                    <td class="clearfix text-right">
                                        <div class="number-group">
                                            <input type="text" value="{{ cartproduct.count }}" maxlength="99" class="qty" id="{{cartproduct.product.id }}">
                                            <div class="number-button" >
                                                <div class="number-input number-input-up cart-action-button" data-id="{{cartproduct.product.id }}" data-path="{{ path('cart_ajax_action') }}" data-action="+" data-no="1"><i class="fa fa-caret-up"></i></div>
                                                <div class="number-input number-input-down cart-action-button" data-id="{{cartproduct.product.id }}" data-path="{{ path('cart_ajax_action') }}" data-action="-" data-no="1"><i class="fa fa-caret-down"></i></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td><strong>{{ cartproduct.count*cartproduct.product.priceDiscounted }}</strong></td>
                                    <td><a class="cart-action-button" data-path="{{ path('cart_ajax_action') }}" data-id="{{ cartproduct.product.id }}" data-action="rm" href="#">删除</a></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="5"><font>
                                    您的购物车是空的</font>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="text-left">
                                <span><input type="checkbox" />选择全部商品
                                </span> 
                            </td>
                        </tr>
                        <tr class="tfoot-bottom"> 
                            <td class="text-left"><input type="submit"  value="清空购物车"></td>
                            <td colspan="3" class="total-price">商品总价 （不含运费）：<strong>$45.00</strong> </td>
                            <td>
                            <input type="submit" value="结算">
                            </td>
                        </tr>
                        </form>
                    </tfoot>

                </table>
            </div>
        </div>

        <div class="cart-down col-xs-12">
            {% include 'Widget/hotPro.html.twig' %}
        </div>
    </div><!-- /container-non-responsive -->

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/cart.js') }}"></script>
{% endblock %}
