{% extends 'layout_main.html.twig' %}

{% block title %}购物车{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/cart.css') }}" type="text/css">
{% endblock %}

{% block body %}

    <div id="cart-page" class="container-non-responsive">
        <div class="page-title">
            <h4>购物车</h4>
        </div>
        <div class="page-content">
            <div class="col-xs-12 top-promo">
                <span>如果您有优惠代码，请输入。
                    <input class="" value="">
                    <input type="submit" title="应用优惠券" class="btn-promotion"  value="应用优惠券">
                </span>
            </div>
             <div class="cart-content col-xs-12">               
                <table class="table">
                {% if data|length > 0 %}
                    <thead>
                        <tr>
                            <th width="50%">商品</th>
                            <th width="10%">单价（纽币）</th>
                            <th width="15%">数量</th>
                            <th width="15%">价格（纽币）</th>
                            <th width="10%">操作</th>
                        </tr>
                    </thead>
                    <tbody>    
                        <form action="{{path('checkout')}}" method="post" onsubmit="">
                        {% set sum = 0 %}
                            {% for cartproduct in data %}
                                <tr>
                                    <td class="product-name">
                                        <input type="checkbox" name="product-id[]" value="{{ cartproduct.product.id }}" />
                                        <img src="{{ asset('img/src') }}/{{cartproduct.product.imageLink}}/poster/{{cartproduct.product.poster}}"/>
                                        <div class="name-limit"><a href="{{ path('product', { id : cartproduct.product.id }) }}">{{ cartproduct.product.name }}</a></div>
                                    </td>
                                    <td id="oneprice_{{cartproduct.product.id }}">{{ cartproduct.product.priceDiscounted }}</td>
                                    <td class="clearfix text-right">
                                        <div class="number-group">
                                            <input type="text" value="{{ cartproduct.count }}" maxlength="99" class="qty" min="1" id="{{cartproduct.product.id }}" data-action="number" data-path="{{ path('cart_ajax_action') }}">
                                            <div class="number-button" >
                                                <div class="number-input number-input-up cart-action-button" data-id="{{cartproduct.product.id }}" data-path="{{ path('cart_ajax_action') }}" data-action="+" data-no="1"><i class="fa fa-caret-up"></i></div>
                                                <div class="number-input number-input-down cart-action-button" data-id="{{cartproduct.product.id }}" data-path="{{ path('cart_ajax_action') }}" data-action="-" data-no="1"><i class="fa fa-caret-down"></i></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td id="allprice_{{cartproduct.product.id}}" ><strong class="allprice">{{ cartproduct.count*cartproduct.product.priceDiscounted }}</strong></td>
                                    <td><a class="cart-remove-button" data-path="{{ path('cart_ajax_action') }}" data-id="{{ cartproduct.product.id }}" data-action="rm" href="#">删除</a></td>
                                </tr>
                                {% set sum = sum + cartproduct.count*cartproduct.product.priceDiscounted %}
                            {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="text-left">
                                <span>
                                <input type="checkbox" onclick="selectAll(this)" />选择全部商品
                                </span> 
                            </td>
                        </tr>
                        <tr class="tfoot-bottom"> 
                            <td class="text-left"><input type="submit"  value="清空购物车"></td>
                            <td colspan="3" class="total-price">商品总价 （不含运费）：
                             {% if data|length > 0 %}
                                <strong id="totalprice">${{ sum }}</strong>
                             {% else %}
                                 <strong>$0.00</strong> 
                              {% endif %}
                            <td>
                            <input type="submit" value="结算">
                            </td>
                        </tr>
                        </form>
                    </tfoot>
                    {% else %}
                        <tbody>   
                            <tr>
                                <td colspan="5">
                                    <h3>您的购物车是空的,去<a href="{{path('homepage')}}">这里逛逛</a></h3>
                                </td>
                            </tr>
                        </tbody>
                        {% endif %}
                </table>
            </div>
        </div>

        <div class="cart-down col-xs-12">
            {{ render(controller('AppBundle:Widget/Default:hotPro')) }}
        </div>
    </div><!-- /container-non-responsive -->

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/cart.js') }}"></script>
{% endblock %}
