{% extends 'layout_main.html.twig' %}

{% block title %}结算{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/cart.css') }}" type="text/css">
{% endblock %}

{% block body %}
        <div class="col-xs-3 siderbar">
                {{ render(controller('AppBundle:Widget/Menu:index')) }}
                {{ render(controller('AppBundle:Widget/Default:brandList')) }}
                {{ render(controller('AppBundle:Widget/Default:discountPro')) }}               
                  {{ render(controller('AppBundle:Widget/Default:postFee')) }} 
                </div>
    <div class="col-xs-9 page-right">
            <div class="page-breadcrumb">
                    <ol>
                        <li><a href="{{ path('homepage')}}"><i class="fa fa-home"></i></a></li>
                        <li>&nbsp;>&nbsp;结算</li>
                     </ol>
                </div>
      <div class="page-content" id="cart-page-container">
            <div class="page-title">
            <div class="page-leaf-top"></div>
                <div class="page-leaf"><img src="{{ asset('img/leaf.png') }}" alt=""></div>
                <div><h4>结算</h4></div>
               
            </div>  
            <div class="cart-tabs">
                <div class="cart-tab">1.查看购物车</div> 
                <div class="cart-tab-arrow"></div>
                <div class="cart-tab active">2.填写购物信息</div>
                <div class="cart-tab-arrow"></div>
                <div class="cart-tab">3.完成订单</div>
            </div>
            <div class="col-xs-12 cart-content">
           {{ form_start(form) }}      
          <div class="form">
              <div>
                <label>邮寄地址</label>
                    <select id="select-location" class="select-location">
                        {% for address in app.user.shipmentAddresses %}
                          <option value="{{address.id}}">{{address.name}} {{address.contactNo}}, {{address.country}} {{address.region}} {{address.city}} {{address.address}}</option>
                        {% endfor %}
                        <option value="新建地址"> <a href="{{path('user_address')}}">新建地址</a></option>
                      </select>
              </div>   

                     <div>{{ form_label(form.country) }}{{ form_widget(form.country) }}
                          {{ form_widget(form.city) }}</div>
                   <div>{{ form_label(form.region) }}{{ form_widget(form.region) }}</div>
                   <div>{{ form_label(form.post_code) }}{{ form_widget(form.post_code) }}</div>
                   <div>{{ form_label(form.address) }}{{ form_widget(form.address) }}</div>
                   <div>{{ form_label(form.name) }}{{ form_widget(form.name) }}</div>
                   <div>{{ form_label(form.phone_no) }}{{ form_widget(form.phone_no) }}</div>
                   <div>{{ form_label(form.contact_no) }}{{ form_widget(form.contact_no) }}</div>
                   <div>{{ form_label(form.id_no) }}{{ form_widget(form.id_no) }}</div>
                   <div>{{ form_label(form.img1) }}{{ form_widget(form.img1) }}</div>
                   <div>{{ form_label(form.img2) }}{{ form_widget(form.img2) }}</div>
                   <div>{{ form_label(form.comment) }}{{ form_widget(form.comment) }}</div>
          </div>
           {{ form_end(form) }} 

             <div class="table-header">请在此确认你的订单产品</div>           
                <table class="table no-margin">
                    <thead>
                        <tr>
                            <th width="15%">产品</th>
                            <th width="50%" class="product-name">产品名称</th>
                            <th width="10%">价格$</th>
                            <th width="10%">数量</th>
                            <th width="10%">删除</th>
                        </tr>
                    </thead>
                    <tbody>    
                       
                        {% set sum = 0 %}
                         {% set ids = [] %}
                            {% for cartproduct in data %}
                                <tr>
                                    <td class="product-img">
                                        <img src="{{ asset('img/src') }}/{{cartproduct.product.imageLink}}/poster/{{cartproduct.product.poster}}"/>
                                    </td>
                                    <td class="product-name">  
                                        <div class="name-limit">
                                        <a href="{{ path('product', { id : cartproduct.product.id }) }}">{{ cartproduct.product.name }}</a>
                                        </div>
                                    </td>
                                    <td id="allprice_{{cartproduct.product.id}}" ><strong class="allprice">{{ cartproduct.count*cartproduct.product.priceDiscounted }}</strong></td>
                                   
                                    <td class="text-right">
                                        <div class="number-group">
                                            
                                            <div maxlength="99" class="qty" min="1" id="{{cartproduct.product.id }}" data-action="number" data-path="{{ path('cart_ajax_action') }}">{{ cartproduct.count }}</div>

                                            <div class="number-button" >  
                                                <div class="number-input number-input-up cart-action-button" data-id="{{cartproduct.product.id }}" data-path="{{ path('cart_ajax_action') }}" data-action="+" data-no="1"><i class="fa fa-caret-up"></i></div>
                                                <hr>
                                                <div class="number-input number-input-down cart-action-button" data-id="{{cartproduct.product.id }}" data-path="{{ path('cart_ajax_action') }}" data-action="-" data-no="1"><i class="fa fa-caret-down"></i></div>
                                            </div>
                                        </div>
                                    </td>
                                     <td><a class="cart-remove-button" data-path="{{ path('cart_ajax_action') }}" data-id="{{ cartproduct.product.id }}" data-action="rm">X</a></td>    
                                </tr>
                                {% set sum = sum + cartproduct.count*cartproduct.product.priceDiscounted + 8 %}
                                 {% set ids = ids|merge([cartproduct.product.id]) %}
                            {% endfor %}
                            {% set ids = ids|join(' ') %}
                   </tbody>
                    <tfoot>
                        <tr class="tfoot-bottom"> 
                            <td colspan="3" class="text-left"><strong>商品总额：</strong>
                             {% if data|length > 0 %}
                                <strong id="totalprice">NZ${{ sum }}</strong>
                             {% else %}
                                 <strong>$0.00</strong> 
                                 {% endif %}
                                 <strong>（邮费：$8 一公斤）</strong> 
                            <td colspan="3" class="text-right">
                                <i class="fa fa-cart"></i>
                             <input type="submit" title="提交订单" class="btn-pay" value="确认无误，马上下单" >
                            </td>
                        </tr>
                       
                    </tfoot>
                </table>
                </div>
                    </div>
                </div>
            </div>
        <div class="bg-mask"></div>
        <div class="pop-cart">
        <h3><i class="fa fa-info-circle"></i>
            <span>确定提交订单？</span></h3>
            <span>
                <input type="submit" title="确定提交" data-id="{{ ids }}" class="btn-confirm" value="确定提交" >
            </span>
            <p class="continue-shop">继续购物</p>
        </div>  
{% endblock %}



{% block javascripts %}
    <script src="{{ asset('js/checkout.js') }}"></script>
    <script type="text/javascript">
     (function () {
        $('.btn-pay').click(function() {
        $('.bg-mask').css('display','block');
        $('.pop-cart').css('display','block');
        });


        $('.btn-confirm').click(function () {
            $this = $(this);
        var productId = $this.attr("data-id");
        $.ajax({
            url: "{{ path('order_generation') }}",
            method: "GET",
            data: {
                id : productId,
            },
            dataType: "json"
        })
        .done(function (rep) {
            console.log(rep);
            if (rep.granted) {
                alert("成功！");
                window.location.replace("{{ path('order_confirm') }}"+'?id='+rep.id);
                
            }
            else {
                alert("。。");
            }
        })
        });
    })();
    </script>
 
{% endblock %}
