{% extends 'layout_main.html.twig' %}

{% block title %}结算{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/checkout.css') }}" type="text/css">
{% endblock %}

{% block body %}

<div id="header"></div>
    <div id="checkout-page" class="container-non-responsive">
        <div class="page-title">
            <h4>结算</h4>
        </div>	
        <div class="page-content">
            <div class="col-xs-12 checkout-content top">
                <!-- logined in can select address -->
                
                <h5><strong>已有地址</strong></h5>
                <div class="address-content"> 
                    <span class="first-address">邮寄至</span>
                    <span class="address-detail">
                     <input type="checkbox" />
                     27 Beaudort Place, Papatoetoe, Auckland, New Zealand  1025
                     <strong> (Charis Wan)  2132132131</strong>
                 </span>
                 <a href=""><span class="edit-address pull-right">修改地址</span></a>
             </div>
             <div class="address-content">  
                <span class="first-address">邮寄至</span>
                <span class="address-detail">
                   <input type="checkbox" />
                   湖北省武汉市江汉区三眼桥北路海红旗701
                   <strong>（万江）  2132132131</strong>
               </span>
               <a href=""><span class="edit-address pull-right">修改地址</span></a>
           </div>
           <div class="address-content">  
            <span class="first-address">邮寄至</span>
            <span class="address-detail">
              <input type="checkbox" />
              湖北省武汉市江汉区三眼桥北路海红旗701
              <strong>（万江）  2132132131</strong>
          </span>
          <a href=""><span class="edit-address pull-right">修改地址</span></a>
      </div>
      <a  href=""><h5><strong>新地址</strong></h5></a>
      
  </div> 
  <div class="col-xs-12 checkout-content">
    <div class="content-up"> 
        <table>
            <thead>
                <tr>
                    <th class="product-name">商品信息</th>
                    <th class="text-left">数量</th>
                    <th class="text-right">价格</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="product-name">
                        <img src="{{asset('img/artemis.jpg')}}"/>
                        <div class="name-limit"><a href="product.html">好健康蜂胶</a>
                        </div>
                    </td>
                    <td>1</td>
                    <td class="text-right color">45.00</td>
                </tr>
                <tr>
                    <td class="product-name">
                        <img src="{{asset('img/artemis.jpg')}}"/>
                        <div class="name-limit"><a href="product.html">好健康蜂胶</a>
                        </div>
                    </td>
                    <td>1</td>
                    <td class="text-right color">45.00</td>
                </tr>
                <tr>
                    <td class="product-name">
                        <img src="{{asset('img/artemis.jpg')}}"/>
                        <div class="name-limit"><a href="product.html">好健康蜂胶</a>
                        </div>
                    </td>
                    <td>1</td>
                    <td class="text-right color">45.00</td>
                </tr>
            </tbody>
            <tfoot>
                <tr><td class="text-right"><strong>运送方式:</strong></td>
                    <td>
                        <input type="text" placeholder="快递" id="delivery-option">

                        <ul class="delivery-options">
                            <li><span>快递（3-5天）</span><span class="color">$20.00</span></li>
                            <li> <span>平递（7-10天）</span><span class="color">$0.00</span></li>
                            <li> <span>海运（10-15天）</span><span class="color">$0.00</span></li>
                        </ul> 


                    </td>
                    <td class="text-right color">20.00</td> </tr>
                    <tr><td class="text-right"><strong>运送保险:</strong></td>
                        <td><input type="checkbox"> 购买保险</td>
                        <td class="text-right color">0.00</td></tr>
                        <tr><td class="text-right"><strong>优惠方式:</strong></td>
                            <td><input type="text" placeholder="使用优惠券"></td>
                            <td class="text-right color">-0.00</td> </tr>
                            <tr><td class="text-right"><strong>合计:</strong></td>
                                <td>（含运费和各项费用)</td>
                                <td class="text-right color"><h3>$20.00</h3></td> </tr>
                            </tfoot>
                        </table>
                        <hr>
                    </div>
                    <div class="content-down"> 
                        <div class="address-left">
                            <p><strong>快递要求：</strong></p>
                            <p>1.保健品、食品包裹：总数不超过<strong>16个</strong>，且总重量不超过<strong>7公斤</strong>，含有蜂蜜的包裹总数不超过<strong>14个</strong>。</p>
                            <p>2.含化妆品包裹：总数不超过<strong>12个</strong>，总重量不超过<strong>4公斤</strong>。</p>
                            <p>3.奶粉类包裹：请务必提供收件人相对应的身份证信息。</p>
                        </div>
                        <div  class="address-right">
                            <div class="text-right"><strong>寄送至：</strong> 湖北省武汉市江汉区三眼桥北路海红旗701</div>
                            <div class="text-right"><strong>收货人：</strong>万江  2132132131</div>
                            <div class="text-right color"><h3><strong>应付总额：</strong>$42.00</h3></div>
                        </div>
                    </div>
                    <form action="{{path('order_confirm')}}" method="get" onsubmit="">
                            <input type="submit" title="提交订单" class="btn-pay" value="提交订单" >
                            </form>
                   
                </div>
                <div class="hotdeal cart-down col-xs-12">
                    <div class="row-up">
                        <div class="col-xs-11">
                            <h3>可能喜欢</h3>
                        </div>
                        <div class="col-xs-1">
                            <a href="products.html">更多
                            </a> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <a href="product.html">
                                <img src="{{asset('img/artemis.jpg')}}" alt="">
                                <span class="pro-text"><span class="pro-title">【爱他美奶粉】爱他美金装一段奶粉 宝宝最佳选择 新西兰<br></span><span class="price">$79.00</span><del>$89.00</del></span>
                            </a>
                        </div>
                        <div class="col-xs-3">
                            <a href="product.html">
                                <img src="{{asset('img/artemis.jpg')}}" alt=""> 
                                <span class="pro-text"><span class="pro-title">Arataki 纯天然麦卢卡蜂蜜UFM10+500g<br></span><span class="price">$49.00</span><del>$59.00</del></span>
                            </a>
                        </div>
                        <div class="col-xs-3">
                            <a href="product.html">
                                <img src="{{asset('img/artemis.jpg')}}" alt=""> 
                                <span class="pro-text"><span class="pro-title">Thompson汤普森蜂王浆180粒<br></span><span class="price">$42.61</span><del>$49.00</del></span>
                            </a>

                        </div>
                        <div class="col-xs-3">
                            <a href="product.html">
                                <img src="{{asset('img/artemis.jpg')}}" alt="">
                                <span class="pro-text"><span class="pro-title">Blackmores澳佳宝 儿童水果味鱼油 30粒<br></span><span class="price">$16.84</span><del>$19.37</del></span>
                            </a>
                        </div>
                    </div>	
                </div>
            </div>  <!--//cart-page-->  
        </div><!-- /container-non-responsive -->
        <div id="footer"></div>

{% endblock %}

{% block javascripts %}
        <script src="{{ asset('js/checkout.js') }}"></script>
    {% endblock %}
