{% extends 'layout_main.html.twig' %}

{% block title %}结算{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/cart.css') }}" type="text/css">
{% endblock %}

{% block body %}
    <div class="col-xs-3 siderbar">
        {{ render(controller('AppBundle:Widget/Menu:index')) }}
        {{ render(controller('AppBundle:Widget/Default:brandList')) }}
        {# {{ render(controller('AppBundle:Widget/Default:discountPro')) }} #}
        {{ render(controller('AppBundle:Widget/Default:postFee')) }} 
        </div>
  <div class="col-xs-9 page-right">

    <div class="page-content" id="cart-page-container">
      <div class="page-title">
        <div class="panel-primary" style="width: 100%">
          <div class="panel-heading panel-heading-no-bottom-border" style="background-color:#95B570; font-size:18px;">  
            <a href="{{ path('homepage')}}"><i class="fa fa-home" style="font-size: 25px"></i></a>
                &nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;
                结算购物车
          </div>
        </div>
      </div>  
      <div class="cart-tabs">
        <div class="cart-tab">1.查看购物车</div> 
        <div class="cart-tab-arrow"></div>
        <div class="cart-tab active">2.填写购物信息</div>
        <div class="cart-tab-arrow"></div>
        <div class="cart-tab">3.完成订单</div>
      </div>
      <div class="col-xs-12 cart-content">

      <div class="form">
        <div>
          <label>邮寄地址</label>

          <select id="select-location" class="select-location">
            <option value=''>请选择邮寄地址</option>
            {% for address in app.user.shipmentAddresses %}
              <option value="{{address.id}}">{{address.name}}  {{address.phoneNo}}, {{address.country}} {{address.region}} {{address.city}} {{address.address}}</option>
            {% endfor %}
          </select>

          <a class="new-address">新建地址</a>
        </div>
      </div>

        <div class="table-header">请在此确认你的订单产品</div>           
        <table class="table no-margin">
          <thead>
            <tr>
              <th width="15%">产品</th>
              <th width="50%" class="product-name">产品名称</th>
              <th width="10%">单价</th>
              <th width="10%">价格$</th>
              <th width="10%">数量</th>
            </tr>
          </thead>
          <tbody>     
            {% set sum, weight, ids = 0, 0, [] %}
              {% for cartproduct in data %}
                <tr>
                  <td class="product-img">
                    <img class="lazy" src="{{ asset('/img/default.jpg') }}" data-orginial="/img/src/"{{ cartproduct.product.imageLink }}"/poster/"{{ cartproduct.product.poster }}>
                  </td>
                  <td class="product-name">  
                    <div class="name-limit">
                    <a href="{{ path('product', { id : cartproduct.product.id }) }}">{{ cartproduct.product.name }}</a>
                    </div>
                  </td>
                  <td id="oneprice_{{cartproduct.product.id }}"><strong>{{ cartproduct.product.priceDiscounted }}</strong></td> 
                  <td id="allprice_{{cartproduct.product.id}}" ><strong class="allprice">{{ cartproduct.count*cartproduct.product.priceDiscounted }}</strong></td>
                   
                  <td class="text-right">
                    <div class="number-group">
                      <div maxlength="2" class="qty" min="1" max="99" id="{{cartproduct.product.id }}" data-action="number" data-path="{{ path('cart_ajax_action') }}">{{ cartproduct.count }}</div>
                    </div>
                  </td>  
                </tr>
                {% set sum = sum + cartproduct.count*cartproduct.product.priceDiscounted %}
                {% set ids = ids|merge([cartproduct.product.id]) %}
                {% set weight = weight + cartproduct.count*cartproduct.product.weight %}
              {% endfor %}
              {% set ids = ids|join(' ') %}
           </tbody>
          <tfoot>
            <tr class="tfoot-bottom"> 
              <td colspan="3" class="text-left">
               {% if data|length > 0 %}
               {% set weight = (weight/1000)|round(2, 'ceil') %}
               {% set post = ( ( ((weight/5)|round(0, 'ceil')) * 0.2 + weight) * 8)|round(2, 'ceil') %}
                <strong>总价：</strong><strong id="totalprice">NZ${{ sum + post }}（邮费：$8 一公斤）</strong><br>
                商品价格：NZ${{ sum }}
                总重：{{weight}} kg
                邮费：  NZ${{ post }}
               {% else %}
                 <strong>$0.00</strong> 
                 {% endif %}<br>
                 <td  class="text-right">
                 <input type="submit" value="返回购物车" onclick="window.history.back();">
              </td>
              <td  class="text-right">              
               <input type="submit" title="提交订单" class="btn-pay" value="确认无误，马上下单" >
              </td>
            </tr>
             
          </tfoot>
        </table>
        </div>
          </div>
        </div>
      </div> 
<div class="bg-mask"></div>
<div id="loading" class="loading">
  <div>
    <i class="fa fa-spinner fa-pulse"></i>
  </div>
</div>
    <div id="pop-cart" class="pop-cart">
    <h3><i class="fa fa-info-circle"></i>
      <span>确定提交订单？</span></h3>
      <span>
        <input type="submit" title="银行转帐" data-id="{{ ids }}" data-type="alipay" class="btn-confirm" value="支付宝" >
        <input type="submit" title="银行转帐" data-id="{{ ids }}" data-type="trans"  class="btn-confirm" value="银行转帐" >
        <input type="submit" title="在线支付" data-id="{{ ids }}" data-type="online" class="btn-confirm" value="信用卡支付 " >
      </span>
      <p class="continue-shop">继续购物</p>
    </div>


{# 
<div id="need-address" class="pop-address">
    <h3><i class="fa fa-info-circle"></i>
      <span>请选择地址</span></h3>
      <div class="form">
          <select id="select-location" class="select-location">
            <option value=''>请选择邮寄地址</option>
            {% for address in app.user.shipmentAddresses %}
              <option value="{{address.id}}">{{address.name}}  {{address.phoneNo}}, {{address.country}} {{address.region}} {{address.city}} {{address.address}}</option>
            {% endfor %}
          </select>  
          <a class="new-address">新建地址</a>  
        </div>
        
        <span>
        <input type="submit" title="银行转帐" data-id="{{ ids }}" data-type="alipay" class="btn-confirm" value="支付宝" >
        <input type="submit" title="银行转帐" data-id="{{ ids }}" data-type="trans" data-total="{{  sum + post }}" class="btn-confirm" value="银行转帐" >
        <input type="submit" title="在线支付" data-id="{{ ids }}" data-type="online" class="btn-confirm" value="信用卡支付 " >
      </span>
      <p>选择银行转帐将会生成订单，在跳转后请尽快转帐保证按时出货，转帐时请付言账单号后六位。</p>
      <p class="continue-shop">继续购物</p>
    </div> 
#}

    <div id="create-address" class="pop-address">
      <h3><i class="fa fa-info-circle"></i>
      <span>新建地址</span></h3>

      {{ form_start(form, {'attr': {'id':'add-address'}}) }} 
       <h5>直邮中国的快递必须提供收件人身份证才可以正常通关</h5>
       <p>二代身份证需要同时提交证件的正反面内容，请分别扫描正反面图片后分别上传。身份证需确保照片、文字信息都清晰可见，如需加水印请在空白处填写“仅供清关使用”字样，否则无效！文件类型：*.gif/*.jpg/*.png 尺寸像素宽600X高800，大小不超过100KB。</p>

      <div class="form">
        <div>{{ form_label(form.country) }}
        {{ form_widget(form.country) }} {{ form_widget(form.region) }}</div>
        <div>{{ form_label(form.city) }}{{ form_widget(form.city) }}</div>
        <div>{{ form_label(form.address) }}{{ form_widget(form.address) }}</div>
        <div>{{ form_label(form.post_code) }}{{ form_widget(form.post_code) }}</div>
        <div>{{ form_label(form.name) }}{{ form_widget(form.name) }}</div>
        <div>{{ form_label(form.phone_no) }}{{ form_widget(form.phone_no) }}</div>
        <div>{{ form_label(form.id_no) }}{{ form_widget(form.id_no) }}</div>
        
        <div style="display:none">
          <div>{{ form_rest(form) }}</div>
        </div>
      </div> 
      <div class='clear'>
        <input type="submit" value="取消" class="close-address">
        <!-- 这里提交直接存入用户地址并添加到选择地址下拉菜单里 -->
        <input type="submit" value="提交" />
      </div>
      {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/checkout.js') }}"></script>
  <script type="text/javascript">
  (function () {
    $('.btn-pay').click(function() {
      if ($( ".select-location" ).val() == '') {
        alert('请选择或新建一个地址！');
      }
      else {
        $('.bg-mask').css('display','block');
        $('#pop-cart').css('display','block');
      }
    });

    $('.new-address').click(function() {
      $('.bg-mask').css('display','block');
      $('#create-address').css('display','block');
      $('#need-address').css('display','none');
    });

    $('.close-address').click(function() {
      $('.bg-mask').css('display','none');
      $('#create-address').css('display','none');
    });

    $('.btn-confirm').click(function () {
      if ($( ".select-location" ).val() != '') {
        $this = $(this);
        var productId = $this.attr("data-id");
        var type = $this.attr("data-type");
        $.ajax({
          url: "{{ path('order_generation') }}",
          method: "GET",
          data: {
            id : productId,
            address : $( ".select-location" ).val(),
          },
          dataType: "json"
        })
        .done(function (rep) {
          console.log(rep);
          if (rep.granted) {
            window.location.replace("{{ path('order_confirm') }}"+'?id='+rep.id+'&type='+type);
          }
          else {
            alert("系统忙，请稍后下单");
          }
        })
      }
    });

    $('#add-address').submit(function(e) {
      e.preventDefault();
      //pop一个等待框
      $('#loading').css('display','block');
      var $this = $(this).serialize();
      $.ajax({
          url: "{{path('add_address_ajax')}}",
          method: "POST",
          data:  $('#add-address').serialize(),
          dataType: "json"
        })
        .done(function (rep) {
          if(rep.success) {
            //关闭等待框
            $('#loading').css('display','none');
            $('.bg-mask').css('display','none');
            $('#create-address').css('display','none');
            var html = '<option value="'+rep.id+'" selected>'+rep.name+' '+rep.phoneNo+', '+rep.country+' '+rep.region+' '+rep.city+' '+rep.address+'</option>';
            $('#select-location').append(html);
          }
          else{
            alert('服务器宕机了，请稍后重试');
          }
        })
    })
  })();
  </script>
{% endblock %}