{% extends 'layout_main.html.twig' %}

{% block title %}结算{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/checkout.css') }}" type="text/css">
{% endblock %}

{% block body %}
        <div class="col-xs-3 siderbar">
                {{ render(controller('AppBundle:Widget/Menu:index')) }}
                {{ render(controller('AppBundle:Widget/Default:brandList')) }}
                {{ render(controller('AppBundle:Widget/Default:discountPro')) }}
                 {{ render(controller('AppBundle:Widget/Default:bestPro')) }}
                  {{ render(controller('AppBundle:Widget/Default:postFee')) }} 
                </div>
            <div class="col-xs-9 page-right">
            <div class="page-breadcrumb">
                    <ol>
                        <li><a href="{{ path('homepage')}}"><i class="fa fa-home"></i></a></li>
                        <li>&nbsp;>&nbsp;结算</li>
                     </ol>
                </div>
        <div class="page-content" id="checkout-page">
        <div class="page-title">
            <h4>结算</h4>
        </div>  
            <div class="col-xs-12 checkout-content top">
                <h5><strong>邮寄地址</strong></h5>
               {# <div class="address-content"> 
                    <span class="first-address">邮寄至</span>
                    <span class="address-detail">
                      <input type="checkbox" />
                        27 Beaudort Place, Papatoetoe, Auckland, New Zealand  1025
                        <strong> (Charis Wan)  2132132131</strong>
                    </span>
                    <a href=""><span class="edit-address pull-right">修改地址</span></a>
                </div> #}
                <select class="control" id="select-location">
                <option>
                    湖北省武汉市江汉区三眼桥海红旗701 王刚 13582658451
                </option>
                <option>
                    湖北省武汉市三眼桥408 小海 1039884938
                    </option>
                <option>
                    湖北省江汉区三眼桥海红旗701 王红 133098495
                </option>
                <option>
                    河南省合肥市市江汉区406 南京 122309833
                </option>
                </select>
                <a href="{{path('user_address')}}" class="button-style">新建地址</a>
          </div> 
      <div class="col-xs-12 checkout-content">
       <div class="content-up"> 
        <table>
            <thead>
                <tr>
                    <th class="product-name">商品信息</th>
                    <th class="text-left">数量</th>
                    <th class="text-right">价格</th>
                </tr>
            </thead>
            <tbody>
             {% set sum = 0 %}
             {% set ids = [] %}
                {% for cartProduct in data %}
                    <tr>
                        <td class="product-name">
                            <img src="{{ asset('img/src') }}/{{cartProduct.product.imageLink}}/poster/{{cartProduct.product.poster}}"/>
                            <div class="name-limit"><a href="{{ path('product', { id : cartProduct.product.id }) }}">{{ cartProduct.product.name }}</a>
                            </div>
                        </td>
                        <td>{{ cartProduct.count }}</td>
                        <td class="text-right color">{{ cartProduct.count*cartProduct.product.priceDiscounted }}</td>
                    </tr>
                     {% set sum = sum + cartProduct.count*cartProduct.product.priceDiscounted + 20 %}
                     {% set ids = ids|merge([cartProduct.product.id]) %}
                {% endfor %}
                {% set ids = ids|join(' ') %}
            </tbody>
            <tfoot>
                <tr><td class="text-right"><strong>运送方式:</strong></td>
                    <td>
                        <select class="delivery-options">
                        <option>快递</option>
                            <option><span>快递（3-5天）</span><span class="color">$20.00</span></option>
                            <option> <span>平递（7-10天）</span><span class="color">$0.00</span></option>
                            <option> <span>海运（10-15天）</span><span class="color">$0.00</span></option>
                        </select> 
                    </td>
                    <td class="text-right color">20.00</td> </tr>
                    <tr><td class="text-right"><strong>运送保险:</strong></td>
                        <td><input type="checkbox"> 购买保险</td>
                        <td class="text-right color">0.00</td></tr>
                        <tr><td class="text-right"><strong>优惠方式:</strong></td>
                            <td><input type="text" placeholder="使用优惠券"></td>
                            <td class="text-right color">-0.00</td> </tr>
                            <tr><td class="text-right"><strong>合计:</strong></td>
                                <td>（含运费和各项费用)</td>
                                <td class="text-right color"><h3>
                                {% if data|length > 0 %}
                                  {{ sum }}
                              {% else %}
                                   $0.00
                              {% endif %}
                                </h3></td> </tr>
                            </tfoot>
                        </table>
                        <hr>
                    </div>
                    <div class="content-down"> 
                        <div class="address-left">
                            <p><strong>快递要求：</strong></p>
                            <p>1.保健品、食品包裹：总数不超过<strong>16个</strong>，且总重量不超过<strong>7公斤</strong>，含有蜂蜜的包裹总数不超过<strong>14个</strong>。</p>
                            <p>2.含化妆品包裹：总数不超过<strong>12个</strong>，总重量不超过<strong>4公斤</strong>。</p>
                            <p>3.奶粉类包裹：请务必提供收件人相对应的身份证信息。</p>
                        </div>
                        <div  class="address-right">
                            <div class="text-right">
                                <strong>寄送至：</strong> 
                                <span class="shipped-address">湖北省武汉市江汉区三眼桥北路海红旗701</span>
                            </div>
                             <div class="text-right">
                                <strong>收货人：</strong>
                                <span class="shipped-name">万江</span>
                                <span class="shipped-number">2132132131</span>
                             </div>
                             <div class="text-right">
                                <h3 class="color"> 
                                <strong>应付总额：</strong>
                                  {% if data|length > 0 %}
                                      <strong>{{ sum }}</strong>
                                  {% else %}
                                       <strong>$0.00</strong> 
                                  {% endif %}
                                </h3>
                            </div>
                        </div>
                    </div>
                        <input type="submit" title="提交订单" class="btn-pay" value="提交订单" >

                    </div>
                </div>
            </div>
           {# <div class="cart-down col-xs-12">
                {{ render(controller('AppBundle:Widget/Default:hotPro')) }}
           </div>    #}   

    <div class="pop-cart">
        <div>
        <h3><i class="fa fa-info-circle"></i>
            <span>确定提交订单？</span></h3>
            <span>
                <input type="submit" title="确定提交" data-id="{{ ids }}" class="btn-confirm" value="确定提交" >
            </span>
            <p class="continue-shop">继续购物</p>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/checkout.js') }}"></script>
    <script type="text/javascript">
    (function () {

        $('.btn-pay').click(function() {
        $('.pop-cart').css('display','block');
        });


        $('.btn-confirm').click(function () {
            $this = $(this);
        var productId = $this.attr("data-id");
        $.ajax({
            url: "{{ path('order_generation') }}",
            method: "GET",
            data: {
                id : productId,
            },
            dataType: "json"
        })
        .done(function (rep) {
            console.log(rep);
            if (rep.granted) {
                alert("成功！");
                window.location.replace("{{ path('order_confirm') }}"+'?id='+rep.id);
                
            }
            else {
                alert("。。");
            }
        })
        });
    })();
    </script>
{% endblock %}
