{% extends 'layout_main.html.twig' %}

{% block title %}订单确认{% endblock %}

{% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('css/cart.css') }}" type="text/css">
{% endblock %}

{% block body %}
        <div class="col-xs-3 siderbar">
                {{ render(controller('AppBundle:Widget/Menu:index')) }}
                {{ render(controller('AppBundle:Widget/Default:brandList')) }}
                {{ render(controller('AppBundle:Widget/Default:discountPro')) }}
          
                  {{ render(controller('AppBundle:Widget/Default:postFee')) }} 
                </div>
            <div class="col-xs-9 page-right">
            <div class="page-breadcrumb">
                    <ol>
                        <li><a href="{{ path('homepage')}}"><i class="fa fa-home"></i></a></li>
                        <li>&nbsp;>&nbsp;订单确认</li>
                     </ol>
                </div>
        <div class="page-content" id="cart-page-container">
        <div class="page-title">
        <div class="page-leaf-top"></div>
                <div class="page-leaf"><img src="{{ asset('img/leaf.png') }}" alt=""></div>
                <div><h4>订单确认</h4></div>
           
        </div>
        <div class="cart-tabs">
                <div class="cart-tab">1.查看购物车</div> 
                <div class="cart-tab-arrow"></div>
                <div class="cart-tab">2.填写购物信息</div>
                <div class="cart-tab-arrow"></div>
                <div class="cart-tab active">3.订单生成</div>
            </div>
         <div class="order-confirm-content">
         	<h2>恭喜您，下单成功</h2>
         	<div class="order-confirm-id">
         	<label>您的订单号为：</label>
         	<a href="{{ path('user_order') }}">
         	<span class="color">{{ data.orderId }}</span></a><br>
                <span>请亲尽快转帐，避免亲的宝贝别人买走了哦！</span>
         	</div>
         	<div> <a href="{{ path('homepage') }}" class="back-link">返回主页</a></div>

         </div>
        </div>
    </div>
{% endblock %}