            <div class="brand-part">
                <div id="brandslider" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="item">
                           <a href="{{ path('search', {keys : "antipodes" }) }}"><img src="{{ asset('img/brand/antipodes.jpg') }}" alt=""></a>
                           <a href="{{ path('search', {keys : "comvita" }) }}"><img src="{{ asset('img/brand/comvita.jpg') }}" alt=""></a>
                           <a href="{{ path('search', {keys : "goodhealth" }) }}"><img src="{{ asset('img/brand/goodhealth.jpg') }}" alt=""></a>
                        </div>
                        <div class="item">   
                           <a href="{{ path('search', {keys : "parrs" }) }}"><img src="{{ asset('img/brand/parrs.jpg') }}" alt=""></a>
                           <a href="{{ path('search', {keys : "manukahealth" }) }}"><img src="{{ asset('img/brand/manukahealth.jpg') }}" alt=""></a>
                           <a href="{{ path('search', {keys : "nutralife" }) }}"><img src="{{ asset('img/brand/nutralife.jpg') }}" alt=""></a>
                        </div>
                        <div class="item active">
                           <a href="{{ path('search', {keys : "parrs" }) }}"><img src="{{ asset('img/brand/parrs.jpg') }}" alt=""></a>
                           <a href="{{ path('search', {keys : "royalnectar" }) }}"><img src="{{ asset('img/brand/royalnectar.jpg') }}" alt=""></a>
                           <a href="{{ path('search', {keys : "swisse" }) }}"><img src="{{ asset('img/brand/swisse.jpg') }}" alt=""></a>
                        </div>
                    </div> 
                     <a class="left carousel-control" href="#brandslider" data-slide="prev">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                    <a class="right carousel-control" href="#brandslider" data-slide="next">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
               
            </div>