<div class="side brand-list">
    <div class="side-title">
        <h4>热门品牌</h4>
    </div>
    <div class="side-content">
    <a href="{{ path('search', {keys : "Go Healthy" }) }}" class="search-keys">Go Healthy</a>
    <a href="{{ path('search', {keys : "Swisse" }) }}" class="search-keys">Swisse</a>
    <a href="{{ path('search', {keys : "Comvita" }) }}" class="search-keys">Comvita</a>
    <a href="{{ path('search', {keys : "Manukau Health" }) }}" class="search-keys">Manukau Health</a>
    <a href="{{ path('search', {keys : "Karicare" }) }}" class="search-keys">Karicare</a>
    <a href="{{ path('search', {keys : "Good Health" }) }}" class="search-keys">Good Health</a>
    <a href="{{ path('search', {keys : "The Herb Farm" }) }}" class="search-keys">The Herb Farm</a>
    <a href="{{ path('search', {keys : "Nutra Life" }) }}" class="search-keys">Nutra Life</a>
    <a href="{{ path('search', {keys : "Antipodes" }) }}" class="search-keys"><strong>Antipodes</strong></a>
    <a href="{{ path('search', {keys : "Eco" }) }}" class="search-keys">Eco</a>
    <a href="{{ path('search', {keys : "Streamland" }) }}" class="search-keys">Streamland</a>
    <a href="{{ path('search', {keys : "hnz" }) }}" class="search-keys">hnz</a>
    <a href="{{ path('search', {keys : "Healtheries" }) }}" class="search-keys">Healtheries</a>
    <a href="{{ path('search', {keys : "Oasis Sun" }) }}" class="search-keys"><strong>Oasis Sun</strong></a>
    <a href="{{ path('search', {keys : "Radiance" }) }}" class="search-keys">Radiance</a>
    <a href="{{ path('search', {keys : "Royal Nectar" }) }}" class="search-keys">Royal Nectar</a>
    <a href="{{ path('search', {keys : "Tompsons" }) }}" class="search-keys">Tompsons</a>
    </div>
    <div class="side-foot" id="more-brand">
    <h6>更多热门品牌&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-down"></i></h6>
    </div>
</div> 