{% for product in products %}
    <div class="side">
        <div class="side-title">
            <h4>折扣商品</h4>
            <h6>&nbsp;> &nbsp;<a href="">可瑞康 羊奶粉</a></h6>
        </div>
        <div class="side-content">
            <div class="side-item">
                <a href="{{ path('product', {id : product.id}) }}">
                    <img class="lazy" src="{{ asset('img/default.png') }}"
                         data-original="{{ asset('img/src') }}/{{ product.imageLink }}/poster/{{ product.poster }}"
                         alt="">

                    <div class="pro-text">
                        <div class="pull-left">
                            <div class="pro-title">{{ product.name }}</div>
                            <div class="sold-no">售出:&nbsp;{{ product.soldNo }}</div>
                        </div>
                        <div class="pull-right">
                            <div class="price">${{ product.priceDiscounted }}</div>
                            <del>${{ product.price }}</del>
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </div>
{% endfor %}
