
<!-- Hot Staffs -->
{% if data|length > 0 %}
<div class="hotdeal">
  <!--   <div class="row-up">
        <div class="col-xs-11">
            <h3>可能喜欢</h3>
        </div>
        <div class="col-xs-1 text-right">
            <a href="">更多
            </a> 
        </div>
    </div> -->
    <div class="row">
    {% for product in data %}
        <div class="col-xs-4">
            <a href="{{ path('product', {id : product.id}) }}">
                <div class="tagged-image">
                    <img class="lazy" src="{{ asset('img/default.jpg') }}" data-original="{{ asset('img/src') }}/{{product.imageLink}}/poster/{{product.poster}}" alt="">
                </div>
                 <div class="pro-text">
                    <div class="pull-left">
                        <div class="pro-title">{{ product.name }}</div>
                        <div class="sold-no">售出:&nbsp;{{ product.soldNo }}</div>
                    </div>
                    <div class="pull-right">
                        <div class="price">${{ product.priceDiscounted }}</div>
                        <del>${{ product.price }}</del>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>	
</div>
{% endif %}