{% if data.widget[0]|length > 0 %}
<div class="hotdeal">
    <div class="row-up">
        <div class="page-title">
            <div class="panel-primary" style="width: 100%">
                <div class="panel-heading panel-heading-no-bottom-border" style="background-color:#17c5bb; font-size:20px;">  
                    <i class="fa fa-tags" aria-hidden="true"></i>&nbsp; 今日推荐
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% for product in data.widget[0] %}
            <div class="col-xs-4">
                <a href="{{ path('product', {id : product.id}) }}">
                    <div class="tag tag-now">
                        <p>Now</p>
                    </div>
                    <div class="tagged-image">
                        <img class="lazy" src="{{ asset('img/src') }}/{{ product.imageLink }}"
                             data-original="{{ asset('img/src') }}/{{ product.imageLink }}/poster/{{ product.poster }}"
                             alt="">
                    </div>

                    <div class="pro-text">
                        <div class="pull-left">
                            <div class="pro-title">{{ product.name }}</div>
                            <div class="sold-no">售出:&nbsp;{{ product.soldNo }}</div>
                        </div>
                        <div class="pull-right">
                            <div class="price">${{ product.priceDiscounted }}</div>
                            <del>${{ product.price }}</del>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% if data.widget[1]|length > 0 %}
<div class="hotdeal">
    <div class="row-up">
        <div class="page-title">
            <div class="panel-primary" style="width: 100%">
                <div class="panel-heading panel-heading-no-bottom-border" style="background-color:orange; font-size:20px;">  
                    <i class="fa fa-tags" aria-hidden="true"></i>&nbsp; 热卖畅销
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% for product in data.widget[1] %}
            <div class="col-xs-4">
                <a href="{{ path('product', {id : product.id}) }}">
                    <div class="tag tag-hot">
                        <p>Hot</p>
                    </div>
                    <div class="tagged-image">
                        <img class="lazy" src="{{ asset('img/default.jpg') }}"
                             data-original="{{ asset('img/src') }}/{{ product.imageLink }}/poster/{{ product.poster }}"
                            alt="">
                    </div>
                    <div class="pro-text">
                        <div class="pull-left">
                            <div class="pro-title">{{ product.name }}</div>
                            <div class="sold-no">售出:&nbsp;{{ product.soldNo }}</div>
                        </div>
                        <div class="pull-right">
                            <div class="price">${{ product.priceDiscounted }}</div>
                            <del>${{ product.price }}</del>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% if data.widget[2]|length > 0 %}
<div class="hotdeal">
    <div class="row-up">
        <div class="page-title">
            <div class="panel-primary" style="width: 100%">
                <div class="panel-heading panel-heading-no-bottom-border" style="background-color:palevioletred; font-size:20px;">  
                    <i class="fa fa-tags" aria-hidden="true"></i>&nbsp; 新货上架
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% for product in data.widget[2] %}
            <div class="col-xs-4">
                <a href="{{ path('product', {id : product.id}) }}">
                    <div class="tag tag-new">
                        <p>New</p>
                    </div>
                    <div class="tagged-image">
                        <img class="lazy" src="{{ asset('img/default.jpg') }}"
                             data-original="{{ asset('img/src') }}/{{ product.imageLink }}/poster/{{ product.poster }}"
                             alt="">
                    </div>
                    <div class="pro-text">
                        <div class="pull-left">
                            <div class="pro-title">{{ product.name }}</div>
                            <div class="sold-no">售出:&nbsp;{{ product.soldNo }}</div>
                        </div>
                        <div class="pull-right">
                            <div class="price">${{ product.priceDiscounted }}</div>
                            <del>${{ product.price }}</del>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}