{% extends 'Admin/admin_layout.html.twig' %}


{% block adminUserInfo %}
    <li>
        <a href="#" class="auto">
            <span class="pull-right text-muted">
                <i class="i i-circle-sm-o text"></i>
                <i class="i i-circle-sm text-active"></i>
            </span>
            <i class="i i-users3 icon">
            </i>
            <span class="font-bold">用户管理</span>
        </a>
        <ul class="nav dk">
            <li>
                <a href="{{ path('admin_user_info') }}" class="auto">
                    <i class="i i-dot"></i>

                    <span>用户列表</span>
                </a>
            </li>
        </ul>
    </li>
{% endblock %}

  {% block body %}
      <section id="content">
          <section class="vbox">
              <header class="header bg-light b-b">
                  <p><strong>添加评论</strong></p>
              </header>
              <section class="scrollable padder">

                  <div class="form">
                      {{ form_start(form) }}
                      <div><label>评论内容：</label> {{ form_widget(form.text) }}</div>
                      <div><label>用户：</label> {{ form_widget(form.user) }}</div>
                      <div><label>商品：</label> {{ form_widget(form.product) }}</div>
                      <div><label>星级：</label> {{ form_widget(form.star) }}</div>
                      <div><label>回复：</label> {{ form_widget(form.reply) }}</div>
                      <div class="admin-buttons">
                          {{ form_widget(form.submit, { 'label': '添加' }) }}
                          <a href="{{ path('admin_comment') }}">返回
                          </a>
                      </div>
                      {{ form_end(form) }}
                  </div>

              </section>

          </section>
      </section>
  {% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/SimpleAjaxUploader.js') }}"></script>
    <script src="{{ asset('js/admin-comment.js') }}"></script>
{% endblock %}
