{% extends 'Admin/admin_layout.html.twig' %}


{% block adminUserInfo %}
    <li class="active">
        <a href="#" class="auto">
            <span class="pull-right text-muted">
                <i class="i i-circle-sm-o text"></i>
                <i class="i i-circle-sm text-active"></i>
            </span>
            <i class="i i-users3 icon">
            </i>
            <span class="font-bold">用户管理</span>
        </a>
        <ul class="nav dk">
            <li>
                <a href="{{ path('admin_user_info') }}" class="auto">
                    <i class="i i-dot"></i>

                    <span>用户列表</span>
                </a>
            </li>
        </ul>
    </li>
{% endblock %}

{% block body %}
    <section id="content">
        <section class="vbox">
            <header class="header bg-light b-b">
                <p><strong>评论</strong></p>
            </header>
            <section class="scrollable padder">
                <div class="form">
                    <div><label>ID：</label> {{ entity.id }}</div>
                    <div><label>姓名：</label> {{ entity.fullName }}</div>
                    <div><label>国家：</label> {{ entity.country }}</div>
                    <div><label>省份：</label> {{ entity.region }}</div>
                    <div><label>城市：</label> {{ entity.city }}</div>
                    <div><label>生日：</label> {{ entity.birthday }}</div>
                    <div><label>经验：</label> {{ entity.exp }}</div>
                    <div><label>QQ：</label> {{ entity.qqNO }}</div>
                    <div><label>微信：</label> {{ entity.wechatNo }}</div>
                    <div><label>积分：</label> {{ entity.points }}</div>
                    <div><label>电话：</label> {{ entity.contactNo }}</div>
                    <div class="admin-buttons">
                        <a class="btn btn-success btn-sm"
                           href="{{ path('admin_order', {'user_id': entity.id }) }}">查看订单</a>
                        <a href="{{ path('admin_user_info') }}">返回</a>
                        <a href="{{ path('admin_user_info_edit', { 'id': entity.id }) }}">编辑</a>
                    </div>

            </section>
        </section>
    </section>



{% endblock %}
