{% extends 'Admin/admin_layout.html.twig' %}


{% block adminUserInfo %}
    <li class="active">
        <a href="#" class="auto">
            <span class="pull-right text-muted">
                <i class="i i-circle-sm-o text"></i>
                <i class="i i-circle-sm text-active"></i>
            </span>
            <i class="i i-users3 icon">
            </i>
            <span class="font-bold">用户管理</span>
        </a>
        <ul class="nav dk">
            <li>
                <a href="{{ path('admin_user_info') }}" class="auto">
                    <i class="i i-dot"></i>

                    <span>用户列表</span>
                </a>
            </li>
        </ul>
    </li>
{% endblock %}

{% block body %}
    <section id="content">
  <section class="vbox">
    <header class="header bg-light b-b">
        <p><strong>评论</strong></p>
    </header>
   <section class="scrollable padder">

   <div class="form">

         <div> <label>评论ID：</label> {{ entity.id }}</div>
        <div> <label>评论内容：</label> {{ entity.text}}</div>
       <div> <label>回复内容：</label> {{ entity.reply}}</div>
       <div> <label>评论时间：</label> {{ entity.commentAt|date("Y/m/d H:i:s")}}</div>
       <div> <label>评论星级：</label> {{ entity.star}}</div>



     <div class="admin-buttons">
        <a href="{{ path('admin_comment') }}">返回</a>
        <a href="{{ path('admin_comment_edit', { 'id': entity.id }) }}">编辑</a>
      </div>

 </section>
</section>
</section>



{% endblock %}
