<ul class="nav nav-list">
	{% for sub1 in data %}
	    <li>
	        <div class="nav-item">
	            <a href="{{ path('category', { id : sub1.id }) }}" >{{ sub1.name }}<i class="fa fa-chevron-right"></i></a>
	            {% if sub1.__children|length > 0 %}
	            <div>
	                <a href="{{ path('category', { id : sub1.__children[0].id }) }}">{{ sub1.__children[0].name }}</a>&nbsp;&nbsp;&nbsp;
	                <a href="{{ path('category', { id : sub1.__children[1].id }) }}">{{ sub1.__children[1].name }}</a>
	            </div>
	            {% endif %}
	        </div>
	        <div class="well dropdown-menu drop-menu-right">
	            {% for sub2 in sub1.__children %}
	                <div>
	                <a href="{{ path('category', { id : sub2.id }) }}">{{ sub2.name }}</a>
	                {% if sub2.__children|length > 0 %}
	                <div class="sub-menu">
	                	{% for sub3 in sub2.__children %}
                		<a href="{{ path('category', { id : sub3.id }) }}">{{ sub3.name }}</a>&nbsp;&nbsp;|&nbsp;
                		{% endfor %}
            		</div>
            		{% endif %}
	                </div>
	            {% endfor %}
	        </div>
	    </li>
	{% endfor %}
</ul>